In [22]:
import pandas as pd
pd.DataFrame(
    [['test', 'pandas', 'dataframe'],
    [4, 5, 6],
    [7, 8, 9]],
    
    columns=['name', 'of', 'columns']
)

   name      of    columns
0  test  pandas  dataframe
1     4       5          6
2     7       8          9

test | markdown | table
---|---|---
row1 | row1 | row1
col1 | col2 | col3