# Steamspy Data Cleaning

*This forms part of a larger series of posts for my [blog](http://nik-davis.github.io) on downloading, processing and analysing data from the steam store. [See all posts here](http://nik-davis.github.io/tags/steam).*

In [1]:
# view software version information

# http://raw.github.com/jrjohansson/version_information/master/version_information.py
%load_ext version_information
%reload_ext version_information

%version_information numpy, pandas

Software versions
Python 3.7.3 64bit [MSC v.1900 64 bit (AMD64)]
IPython 7.5.0
OS Windows 10 10.0.17763 SP0
numpy 1.16.3
pandas 0.24.2
Mon Jun 03 15:35:19 2019 GMT Summer Time

In [3]:
# standard library imports
from ast import literal_eval
import itertools
import time
import re

# third-party imports
import numpy as np
import pandas as pd

# customisations
pd.set_option("max_columns", 100)

In [4]:
raw_steamspy_data = pd.read_csv('../data/raw/steamspy_data.csv')
raw_steamspy_data.head()

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
0,10,Counter-Strike,Valve,Valve,NaN,124534,3339,0,"10,000,000 .. 20,000,000",17612,709,317,26,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,14923,"{'Action': 2681, 'FPS': 2048, 'Multiplayer': 1..."
1,20,Team Fortress Classic,Valve,Valve,NaN,3318,633,0,"5,000,000 .. 10,000,000",277,15,62,15,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,87,"{'Action': 208, 'FPS': 188, 'Multiplayer': 172..."
2,30,Day of Defeat,Valve,Valve,NaN,3416,398,0,"5,000,000 .. 10,000,000",187,0,34,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Spain",Action,130,"{'FPS': 138, 'World War II': 122, 'Multiplayer..."
3,40,Deathmatch Classic,Valve,Valve,NaN,1273,267,0,"5,000,000 .. 10,000,000",258,0,184,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,4,"{'Action': 85, 'FPS': 71, 'Multiplayer': 58, '..."
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,NaN,5250,288,0,"5,000,000 .. 10,000,000",624,0,415,0,499.0,499.0,0.0,"English, French, German, Korean",Action,71,"{'FPS': 235, 'Action': 211, 'Sci-fi': 166, 'Si..."

In [4]:
raw_steamspy_data.isnull().sum()

appid                  0
name                   5
developer            197
publisher            280
score_rank         29177
positive               0
negative               0
userscore              0
owners                 0
average_forever        0
average_2weeks         0
median_forever         0
median_2weeks          0
price                 29
initialprice          22
discount              22
languages             94
genre                152
ccu                    0
tags                   0
dtype: int64

In [5]:
for col in raw_steamspy_data.columns:
    print('\n\n', col, '\n\n')
    display(raw_steamspy_data[raw_steamspy_data[col].isnull()].head())

 appid

Empty DataFrame
Columns: [appid, name, developer, publisher, score_rank, positive, negative, userscore, owners, average_forever, average_2weeks, median_forever, median_2weeks, price, initialprice, discount, languages, genre, ccu, tags]
Index: []

 name

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
481,17760,NaN,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,0,[]
7235,396420,NaN,NaN,NaN,NaN,22,9,0,"20,000 .. 50,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,0,"{'Free to Play': 24, 'Action': 21, 'Indie': 21..."
9553,460250,NaN,Jeroen Wimmers,Jeroen Wimmers,NaN,44,4,0,"0 .. 20,000",0,0,0,0,899.0,899.0,0.0,"English, French, Italian, German, Spanish - Sp...","Casual, Indie",0,"{'Indie': 34, 'Casual': 24, 'Puzzle': 15, 'Min..."
22244,806160,NaN,Paleno Games,Paleno Games,NaN,4,13,0,"0 .. 20,000",0,0,0,0,99.0,99.0,0.0,"English, French, Italian, German, Spanish - Sp...","Action, Adventure, Casual, Indie",0,"{'Action': 22, 'Indie': 22, 'Casual': 21, 'Adv..."
27324,965340,NaN,2nd Studio,2nd Studio,NaN,31,1,0,"0 .. 20,000",0,0,0,0,199.0,199.0,0.0,"English, German, Danish, Japanese, Russian, Si...","Action, Indie, Simulation",0,"{'Indie': 32, 'Sexual Content': 31, 'Action': ..."

 developer

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
26,852,ValveTestApp852,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,0,[]
147,4330,Star Trek: DAC - Demo,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,0,[]
256,8740,Puzzlegeddon,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,1,[]
264,8955,Borderlands DLC: Claptrap's New Robot Revolution,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,0,[]
285,9730,Tycoon City: New York,NaN,Retroism,NaN,58,102,0,"20,000 .. 50,000",0,0,0,0,999.0,999.0,0.0,English,NaN,0,"{'Simulation': 34, 'Management': 18, 'City Bui..."

 publisher

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
26,852,ValveTestApp852,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,0,[]
67,2540,RIP - Trilogy,Elephant Games,NaN,NaN,199,131,0,"100,000 .. 200,000",1,0,2,0,499.0,499.0,0.0,English,"Casual, Indie",0,"{'Indie': 38, 'Casual': 35, 'Arcade': 14, 'Sho..."
68,2570,Vigil: Blood Bitterness,Freegamer,NaN,NaN,29,108,0,"50,000 .. 100,000",1,0,2,0,0.0,0.0,0.0,English,"Indie, RPG",0,"{'Indie': 27, 'RPG': 22, 'Puzzle': 7, 'Singlep..."
147,4330,Star Trek: DAC - Demo,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,0,[]
190,6600,Bullet Candy,R C Knight,NaN,NaN,39,32,0,"50,000 .. 100,000",0,0,0,0,399.0,399.0,0.0,English,"Casual, Indie",0,"{'Indie': 27, 'Casual': 23, 'Twin Stick Shoote..."

 score_rank

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
0,10,Counter-Strike,Valve,Valve,NaN,124534,3339,0,"10,000,000 .. 20,000,000",17612,709,317,26,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,14923,"{'Action': 2681, 'FPS': 2048, 'Multiplayer': 1..."
1,20,Team Fortress Classic,Valve,Valve,NaN,3318,633,0,"5,000,000 .. 10,000,000",277,15,62,15,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,87,"{'Action': 208, 'FPS': 188, 'Multiplayer': 172..."
2,30,Day of Defeat,Valve,Valve,NaN,3416,398,0,"5,000,000 .. 10,000,000",187,0,34,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Spain",Action,130,"{'FPS': 138, 'World War II': 122, 'Multiplayer..."
3,40,Deathmatch Classic,Valve,Valve,NaN,1273,267,0,"5,000,000 .. 10,000,000",258,0,184,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,4,"{'Action': 85, 'FPS': 71, 'Multiplayer': 58, '..."
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,NaN,5250,288,0,"5,000,000 .. 10,000,000",624,0,415,0,499.0,499.0,0.0,"English, French, German, Korean",Action,71,"{'FPS': 235, 'Action': 211, 'Sci-fi': 166, 'Si..."

 positive

Empty DataFrame
Columns: [appid, name, developer, publisher, score_rank, positive, negative, userscore, owners, average_forever, average_2weeks, median_forever, median_2weeks, price, initialprice, discount, languages, genre, ccu, tags]
Index: []

 negative

Empty DataFrame
Columns: [appid, name, developer, publisher, score_rank, positive, negative, userscore, owners, average_forever, average_2weeks, median_forever, median_2weeks, price, initialprice, discount, languages, genre, ccu, tags]
Index: []

 userscore

Empty DataFrame
Columns: [appid, name, developer, publisher, score_rank, positive, negative, userscore, owners, average_forever, average_2weeks, median_forever, median_2weeks, price, initialprice, discount, languages, genre, ccu, tags]
Index: []

 owners

Empty DataFrame
Columns: [appid, name, developer, publisher, score_rank, positive, negative, userscore, owners, average_forever, average_2weeks, median_forever, median_2weeks, price, initialprice, discount, languages, genre, ccu, tags]
Index: []

 average_forever

Empty DataFrame
Columns: [appid, name, developer, publisher, score_rank, positive, negative, userscore, owners, average_forever, average_2weeks, median_forever, median_2weeks, price, initialprice, discount, languages, genre, ccu, tags]
Index: []

 average_2weeks

Empty DataFrame
Columns: [appid, name, developer, publisher, score_rank, positive, negative, userscore, owners, average_forever, average_2weeks, median_forever, median_2weeks, price, initialprice, discount, languages, genre, ccu, tags]
Index: []

 median_forever

Empty DataFrame
Columns: [appid, name, developer, publisher, score_rank, positive, negative, userscore, owners, average_forever, average_2weeks, median_forever, median_2weeks, price, initialprice, discount, languages, genre, ccu, tags]
Index: []

 median_2weeks

Empty DataFrame
Columns: [appid, name, developer, publisher, score_rank, positive, negative, userscore, owners, average_forever, average_2weeks, median_forever, median_2weeks, price, initialprice, discount, languages, genre, ccu, tags]
Index: []

 price

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
639,29017,Blood Bowl 2 - Review,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,0.0,0.0,NaN,NaN,0,[]
2056,239490,America's Army: Proving Grounds Beta (Closed),NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,0.0,0.0,NaN,NaN,0,[]
4261,321210,Blade Symphony Beta,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,[]
7076,391920,Ether One Redux,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,0.0,0.0,NaN,NaN,0,[]
7248,396740,Blood Bowl 2 - Preview,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,0.0,0.0,NaN,NaN,0,[]

 initialprice

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
4261,321210,Blade Symphony Beta,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,[]
8774,439400,Legends of Callasia Demo,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,[]
10737,497960,Legends of Callasia Demo,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,[]
10790,499450,The Witcher 3: Wild Hunt Game of the Year Edition,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,[]
12076,530940,BIOHAZARD 7 resident evil グロテスクVer.,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,[]

 discount

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
4261,321210,Blade Symphony Beta,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,[]
8774,439400,Legends of Callasia Demo,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,[]
10737,497960,Legends of Callasia Demo,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,[]
10790,499450,The Witcher 3: Wild Hunt Game of the Year Edition,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,[]
12076,530940,BIOHAZARD 7 resident evil グロテスクVer.,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,[]

 languages

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
26,852,ValveTestApp852,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,0,[]
147,4330,Star Trek: DAC - Demo,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,0,[]
249,8350,Strong Bad's Cool Game for Attractive People: ...,Telltale Games,Telltale Games,NaN,12,5,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,Adventure,0,{'Adventure': 20}
250,8360,Strong Bad's Cool Game for Attractive People: ...,Telltale Games,Telltale Games,NaN,11,6,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,Adventure,0,{'Adventure': 21}
251,8370,Strong Bad's Cool Game for Attractive People: ...,Telltale Games,Telltale Games,NaN,11,5,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,Adventure,0,{'Adventure': 20}

 genre

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
26,852,ValveTestApp852,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,0,[]
147,4330,Star Trek: DAC - Demo,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,0,[]
256,8740,Puzzlegeddon,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,1,[]
264,8955,Borderlands DLC: Claptrap's New Robot Revolution,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,0.0,0.0,0.0,NaN,NaN,0,[]
285,9730,Tycoon City: New York,NaN,Retroism,NaN,58,102,0,"20,000 .. 50,000",0,0,0,0,999.0,999.0,0.0,English,NaN,0,"{'Simulation': 34, 'Management': 18, 'City Bui..."

 ccu

Empty DataFrame
Columns: [appid, name, developer, publisher, score_rank, positive, negative, userscore, owners, average_forever, average_2weeks, median_forever, median_2weeks, price, initialprice, discount, languages, genre, ccu, tags]
Index: []

 tags

Empty DataFrame
Columns: [appid, name, developer, publisher, score_rank, positive, negative, userscore, owners, average_forever, average_2weeks, median_forever, median_2weeks, price, initialprice, discount, languages, genre, ccu, tags]
Index: []

In [9]:
for col in raw_steamspy_data.columns:
    print('----------------', col, '----------------')
    display(raw_steamspy_data[col].value_counts().head())

---------------- appid ----------------

397310    1
423620    1
31920     1
857800    1
730830    1
Name: appid, dtype: int64

---------------- name ----------------

Fruit Sudoku               4
SiN Episodes: Emergence    3
SQR                        3
none                       3
Crazy Machines 1.5         3
Name: name, dtype: int64

---------------- developer ----------------

Choice of Games               95
KOEI TECMO GAMES CO., LTD.    72
Ripknot Systems               62
Laush Dmitriy Sergeevich      53
Telltale Games                52
Name: developer, dtype: int64

---------------- publisher ----------------

Big Fish Games    231
Strategy First    139
Ubisoft           120
Square Enix       108
THQ Nordic        106
Name: publisher, dtype: int64

---------------- score_rank ----------------

100.0    12
97.0     11
96.0     11
95.0      7
98.0      7
Name: score_rank, dtype: int64

---------------- positive ----------------

1    1592
0    1360
2    1222
3    1166
4     949
Name: positive, dtype: int64

---------------- negative ----------------

0    3708
1    2905
2    2004
3    1589
4    1233
Name: negative, dtype: int64

---------------- userscore ----------------

0      29177
100        4
84         4
95         3
55         3
Name: userscore, dtype: int64

---------------- owners ----------------

0 .. 20,000           20234
20,000 .. 50,000       3218
50,000 .. 100,000      1785
100,000 .. 200,000     1471
200,000 .. 500,000     1373
Name: owners, dtype: int64

---------------- average_forever ----------------

0    22658
1      173
3       79
2       62
9       62
Name: average_forever, dtype: int64

---------------- average_2weeks ----------------

0      28526
1         37
7         33
273       22
8         12
Name: average_2weeks, dtype: int64

---------------- median_forever ----------------

0    22658
1      170
3       77
2       58
9       54
Name: median_forever, dtype: int64

---------------- median_2weeks ----------------

0      28526
1         37
7         33
273       22
8         13
Name: median_2weeks, dtype: int64

---------------- price ----------------

999.0    3878
0.0      3652
499.0    3399
99.0     2928
199.0    1939
Name: price, dtype: int64

---------------- initialprice ----------------

999.0    4038
0.0      3659
499.0    3547
99.0     3098
199.0    2017
Name: initialprice, dtype: int64

---------------- discount ----------------

0.0     27784
51.0      182
75.0      174
50.0      173
90.0      115
Name: discount, dtype: int64

---------------- languages ----------------

English                                              16330
English, Russian                                      1085
English, Simplified Chinese                            503
English, Japanese                                      463
English, French, Italian, German, Spanish - Spain      391
Name: languages, dtype: int64

---------------- genre ----------------

Action, Indie               1971
Casual, Indie               1567
Action, Adventure, Indie    1311
Adventure, Indie            1229
Action, Casual, Indie       1061
Name: genre, dtype: int64

---------------- ccu ----------------

0    22088
1     1391
2      835
3      523
4      343
Name: ccu, dtype: int64

---------------- tags ----------------

[]                                                     656
{'Indie': 21, 'Casual': 21}                            248
{'Action': 21, 'Indie': 21, 'Casual': 21}              185
{'Action': 21, 'Indie': 21}                            157
{'Adventure': 21, 'Casual': 21, 'Hidden Object': 5}     86
Name: tags, dtype: int64

In [10]:
raw_steamspy_data['tags'].max()

"{'Zombies': 98, 'Adventure': 72, 'Survival': 62, 'Action': 58, 'Third Person': 48, 'Open World': 45, 'Gore': 43, 'Horror': 39, 'Singleplayer': 36, 'Multiplayer': 23, 'Cartoony': 19, 'Hack and Slash': 15, 'Stealth': 11, 'Atmospheric': 9, 'Co-op': 6, 'Anime': 6, 'Free to Play': 5, 'Survival Horror': 5}"

In [6]:
raw_steamspy_data['owners'].value_counts()

0 .. 20,000                   20234
20,000 .. 50,000               3218
50,000 .. 100,000              1785
100,000 .. 200,000             1471
200,000 .. 500,000             1373
500,000 .. 1,000,000            556
1,000,000 .. 2,000,000          311
2,000,000 .. 5,000,000          210
5,000,000 .. 10,000,000          49
10,000,000 .. 20,000,000         22
20,000,000 .. 50,000,000          3
50,000,000 .. 100,000,000         2
100,000,000 .. 200,000,000        1
Name: owners, dtype: int64

In [7]:
i = 0
while i < 10:
    print(10**i, end=', ')
    i += 1
    
ml = [10**i for i in range(8)]
ml

1, 10, 100, 1000, 10000, 100000, 1000000, 10000000, 100000000, 1000000000,

[1, 10, 100, 1000, 10000, 100000, 1000000, 10000000]

In [8]:
raw_steamspy_data['positive'].max()

2644404

In [9]:
pd.cut(raw_steamspy_data['positive'], bins=[10**i for i in range(8)]).value_counts()

(10, 100]              11031
(1, 10]                 7345
(100, 1000]             5567
(1000, 10000]           1904
(10000, 100000]          402
(100000, 1000000]         33
(1000000, 10000000]        1
Name: positive, dtype: int64

In [10]:
pd.cut(raw_steamspy_data['negative'], bins=[10**i for i in range(8)]).value_counts()

(1, 10]                9205
(10, 100]              9094
(100, 1000]            3506
(1000, 10000]           753
(10000, 100000]          60
(100000, 1000000]         4
(1000000, 10000000]       0
Name: negative, dtype: int64

In [11]:
pos = pd.cut(raw_steamspy_data['positive'], bins=[10**i for i in range(8)])
neg = pd.cut(raw_steamspy_data['negative'], bins=[10**i for i in range(8)])

div = raw_steamspy_data['positive'] / raw_steamspy_data['negative']
pd.cut(div, bins=[0, 1, 5, 10, 100]).value_counts()

(1, 5]       12740
(0, 1]        4844
(5, 10]       4105
(10, 100]     3108
dtype: int64

In [12]:
raw_steamspy_data['userscore'].value_counts()

0      29177
100        4
84         4
95         3
55         3
70         2
80         2
82         2
98         2
51         2
68         2
94         2
69         2
46         2
92         2
57         1
67         1
61         1
96         1
49         1
65         1
81         1
97         1
50         1
76         1
60         1
91         1
88         1
59         1
78         1
53         1
74         1
77         1
73         1
63         1
71         1
87         1
8          1
85         1
Name: userscore, dtype: int64

In [13]:
drop_score = raw_steamspy_data.drop(['userscore', 'score_rank'], axis=1)
drop_score.head()

,appid,name,developer,publisher,positive,negative,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,languages,genre,ccu,tags
0,10,Counter-Strike,Valve,Valve,124534,3339,"10,000,000 .. 20,000,000",17612,709,317,26,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,14923,"{'Action': 2681, 'FPS': 2048, 'Multiplayer': 1..."
1,20,Team Fortress Classic,Valve,Valve,3318,633,"5,000,000 .. 10,000,000",277,15,62,15,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,87,"{'Action': 208, 'FPS': 188, 'Multiplayer': 172..."
2,30,Day of Defeat,Valve,Valve,3416,398,"5,000,000 .. 10,000,000",187,0,34,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Spain",Action,130,"{'FPS': 138, 'World War II': 122, 'Multiplayer..."
3,40,Deathmatch Classic,Valve,Valve,1273,267,"5,000,000 .. 10,000,000",258,0,184,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,4,"{'Action': 85, 'FPS': 71, 'Multiplayer': 58, '..."
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,5250,288,"5,000,000 .. 10,000,000",624,0,415,0,499.0,499.0,0.0,"English, French, German, Korean",Action,71,"{'FPS': 235, 'Action': 211, 'Sci-fi': 166, 'Si..."

In [14]:
drop_score['average_2weeks'].value_counts().head()

0      28526
1         37
7         33
273       22
8         12
Name: average_2weeks, dtype: int64

In [15]:
drop_score['median_2weeks'].value_counts().head()

0      28526
1         37
7         33
273       22
8         13
Name: median_2weeks, dtype: int64

In [16]:
drop_2weeks = drop_score.drop(['average_2weeks', 'median_2weeks'], axis=1)
drop_2weeks.head()

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags
0,10,Counter-Strike,Valve,Valve,124534,3339,"10,000,000 .. 20,000,000",17612,317,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,14923,"{'Action': 2681, 'FPS': 2048, 'Multiplayer': 1..."
1,20,Team Fortress Classic,Valve,Valve,3318,633,"5,000,000 .. 10,000,000",277,62,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,87,"{'Action': 208, 'FPS': 188, 'Multiplayer': 172..."
2,30,Day of Defeat,Valve,Valve,3416,398,"5,000,000 .. 10,000,000",187,34,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Spain",Action,130,"{'FPS': 138, 'World War II': 122, 'Multiplayer..."
3,40,Deathmatch Classic,Valve,Valve,1273,267,"5,000,000 .. 10,000,000",258,184,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,4,"{'Action': 85, 'FPS': 71, 'Multiplayer': 58, '..."
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,5250,288,"5,000,000 .. 10,000,000",624,415,499.0,499.0,0.0,"English, French, German, Korean",Action,71,"{'FPS': 235, 'Action': 211, 'Sci-fi': 166, 'Si..."

In [17]:
drop_2weeks['average_forever'].value_counts().head()

0    22658
1      173
3       79
2       62
9       62
Name: average_forever, dtype: int64

In [18]:
drop_2weeks['median_forever'].value_counts().head()

0    22658
1      170
3       77
2       58
9       54
Name: median_forever, dtype: int64

In [19]:
drop_2weeks['price'].value_counts().head()

999.0    3878
0.0      3652
499.0    3399
99.0     2928
199.0    1939
Name: price, dtype: int64

In [20]:
drop_2weeks['initialprice'].value_counts().head()

999.0    4038
0.0      3659
499.0    3547
99.0     3098
199.0    2017
Name: initialprice, dtype: int64

In [21]:
drop_2weeks['discount'].value_counts().head()

0.0     27784
51.0      182
75.0      174
50.0      173
90.0      115
Name: discount, dtype: int64

In [22]:
drop_2weeks[drop_2weeks['initialprice'].isnull()].head()

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags
4261,321210,Blade Symphony Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
8774,439400,Legends of Callasia Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
10737,497960,Legends of Callasia Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
10790,499450,The Witcher 3: Wild Hunt Game of the Year Edition,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
12076,530940,BIOHAZARD 7 resident evil グロテスクVer.,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]

In [23]:
drop_2weeks[drop_2weeks['price'].isnull()]

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags
639,29017,Blood Bowl 2 - Review,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,0.0,0.0,NaN,NaN,0,[]
2056,239490,America's Army: Proving Grounds Beta (Closed),NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,0.0,0.0,NaN,NaN,0,[]
4261,321210,Blade Symphony Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
7076,391920,Ether One Redux,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,0.0,0.0,NaN,NaN,0,[]
7248,396740,Blood Bowl 2 - Preview,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,0.0,0.0,NaN,NaN,0,[]
7859,413010,Conflicks - Revolutionary Space Battles Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,0.0,0.0,NaN,NaN,0,[]
8141,421730,Block N Load PTR,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,0.0,0.0,NaN,NaN,0,[]
8774,439400,Legends of Callasia Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
8967,445730,Watch paint dry,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,0.0,0.0,NaN,NaN,0,[]
10737,497960,Legends of Callasia Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
10790,499450,The Witcher 3: Wild Hunt Game of the Year Edition,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
12076,530940,BIOHAZARD 7 resident evil グロテスクVer.,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
14216,587030,Bunker Busters Steamworks Test,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
15719,630790,PSYCHO-PASS,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
16164,648590,428 〜封鎖された渋谷で〜,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
16539,657860,Dragon's Prophet Turkiye,NaN,NaN,0,0,"0 .. 20,000",190,190,NaN,NaN,NaN,NaN,NaN,0,[]
16673,661250,Jarheads,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
16997,668860,Christmastry,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
17692,684740,Dungeons 3 Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
18219,698920,王国出击,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
18285,700580,Rust - Staging Branch,NaN,NaN,0,0,"0 .. 20,000",78,6,NaN,NaN,NaN,NaN,NaN,0,[]
18651,709970,SwapQuest Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
19647,737230,Rising Storm 2: Vietnam CTB Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
22496,813350,Ben 10 VR,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
22657,817520,烹饪吧！地狱土豆？！,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
22993,827660,Feminist Cyborg Vs Last guy(gay),NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
23638,846260,Murderous Pursuits Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
26731,943490,Team Fortress 2008,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]
26748,944060,魔法洞穴２ The Enchanted Cave 2,NaN,NaN,0,0,"0 .. 20,000",0,0,NaN,NaN,NaN,NaN,NaN,0,[]

In [24]:
drop_2weeks[drop_2weeks['initialprice'] < drop_2weeks['price']]

Empty DataFrame
Columns: [appid, name, developer, publisher, positive, negative, owners, average_forever, median_forever, price, initialprice, discount, languages, genre, ccu, tags]
Index: []

In [25]:
drop_price_nulls = drop_2weeks[drop_2weeks['price'].notnull()].copy()
drop_price_nulls.isnull().sum()

appid                0
name                 5
developer          168
publisher          251
positive             0
negative             0
owners               0
average_forever      0
median_forever       0
price                0
initialprice         0
discount             0
languages           65
genre              123
ccu                  0
tags                 0
dtype: int64

In [26]:
drop_price_nulls[drop_price_nulls['name'].isnull()]

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags
481,17760,NaN,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
7235,396420,NaN,NaN,NaN,22,9,"20,000 .. 50,000",0,0,0.0,0.0,0.0,NaN,NaN,0,"{'Free to Play': 24, 'Action': 21, 'Indie': 21..."
9553,460250,NaN,Jeroen Wimmers,Jeroen Wimmers,44,4,"0 .. 20,000",0,0,899.0,899.0,0.0,"English, French, Italian, German, Spanish - Sp...","Casual, Indie",0,"{'Indie': 34, 'Casual': 24, 'Puzzle': 15, 'Min..."
22244,806160,NaN,Paleno Games,Paleno Games,4,13,"0 .. 20,000",0,0,99.0,99.0,0.0,"English, French, Italian, German, Spanish - Sp...","Action, Adventure, Casual, Indie",0,"{'Action': 22, 'Indie': 22, 'Casual': 21, 'Adv..."
27324,965340,NaN,2nd Studio,2nd Studio,31,1,"0 .. 20,000",0,0,199.0,199.0,0.0,"English, German, Danish, Japanese, Russian, Si...","Action, Indie, Simulation",0,"{'Indie': 32, 'Sexual Content': 31, 'Action': ..."

In [27]:
drop_name_nulls = drop_price_nulls[drop_price_nulls['name'].notnull()].copy()
drop_name_nulls.isnull().sum()

appid                0
name                 0
developer          166
publisher          249
positive             0
negative             0
owners               0
average_forever      0
median_forever       0
price                0
initialprice         0
discount             0
languages           63
genre              121
ccu                  0
tags                 0
dtype: int64

In [28]:
drop_name_nulls[drop_name_nulls['genre'].isnull()]

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags
26,852,ValveTestApp852,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
147,4330,Star Trek: DAC - Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
256,8740,Puzzlegeddon,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,1,[]
264,8955,Borderlands DLC: Claptrap's New Robot Revolution,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
285,9730,Tycoon City: New York,NaN,Retroism,58,102,"20,000 .. 50,000",0,0,999.0,999.0,0.0,English,NaN,0,"{'Simulation': 34, 'Management': 18, 'City Bui..."
371,12570,Hot Dish,Zemnott,ValuSoft,9,12,"20,000 .. 50,000",0,0,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Spain",NaN,0,{'Casual': 7}
372,12580,Dr. Daisy Pet Vet,Zemnott,ValuSoft,11,10,"0 .. 20,000",0,0,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Spain",NaN,0,"{'Casual': 5, 'Time Management': 5}"
387,13120,America's Army 3 Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
394,13260,Unreal Development Kit,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
489,18310,Spectraball - Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
557,22340,Call of Cthulhu: Dark Corners of the Earth,Headfirst Productions,Bethesda Softworks,1367,599,"200,000 .. 500,000",245,393,499.0,499.0,0.0,English,NaN,8,"{'Horror': 195, 'Lovecraftian': 182, 'First-Pe..."
568,23130,Mole Control,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,1,[]
569,23140,KrissX,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,1,[]
611,25730,Madballs in...Babo: Invasion Dev,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
757,34390,Football Manager 2011 Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
780,35470,The Ball Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
793,36270,Super Granny Collection,Sandlot Games,Sandlot Games,8,3,"0 .. 20,000",0,0,1499.0,1499.0,0.0,English,NaN,0,{'Illuminati': 5}
846,38440,Sacrifice,Shiny Entertainment,Interplay Inc.,319,29,"50,000 .. 100,000",560,560,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Spain",NaN,3,"{'Strategy': 55, 'RTS': 44, 'Classic': 42, 'Fa..."
907,41310,Altitude - Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
921,42200,Nancy Drew Dossier: Resorting to Danger!,HeR Interactive,HeR Interactive,27,6,"0 .. 20,000",0,0,699.0,699.0,0.0,English,NaN,0,"{'Hidden Object': 7, 'Female Protagonist': 7, ..."
983,46470,Grotesque Tactics: Evil Heroes - Dev,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1050,50400,Mafia II - JAPAN,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,6,[]
1068,55020,Air Forte,Blendo Games,Blendo Games,39,31,"0 .. 20,000",0,0,999.0,999.0,0.0,English,NaN,0,"{'Education': 25, 'Casual': 15, 'Indie': 12, '..."
1072,55130,HOMEFRONT Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1075,55190,HOMEFRONT [Alpha],NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1076,55210,HOMEFRONT - Japanese,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1116,63230,Monday Night Combat Development,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1175,71250,Sonic Adventure DX,SEGA,SEGA,3009,584,"500,000 .. 1,000,000",1569,2739,799.0,799.0,0.0,"English, French, German, Japanese, Spanish - S...",NaN,54,"{'Platformer': 120, '3D Platformer': 104, 'Adv..."
1177,71300,Football Manager 2012 Review,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1178,71310,Football Manager 2012 Korean,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,83,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13247,562340,Iron Wings,Naps Team,Naps Team,33,47,"0 .. 20,000",0,0,999.0,999.0,0.0,"English, French, Italian, Spanish - Spain, Rus...",NaN,0,"{'Flight': 28, 'Action': 23, 'World War II': 2..."
14006,581610,Only One Hope,NaN,Neo Kuriyo,51,121,"100,000 .. 200,000",237,270,99.0,99.0,0.0,English,NaN,0,"{'Indie': 25, 'Strategy': 23, 'Adventure': 23,..."
14121,585260,Antagonist,NIVLACART,Degica,41,3,"0 .. 20,000",0,0,299.0,299.0,0.0,English,NaN,0,"{'RPGMaker': 9, 'Visual Novel': 7, 'RPG': 5}"
14860,604160,Co-Co CORN MAFIA,NaN,Sergey Shushunov,45,45,"50,000 .. 100,000",296,302,99.0,99.0,0.0,English,NaN,0,"{'Action': 25, 'Adventure': 22, 'Violent': 22}"
14976,607700,Death is better than Hell,NaN,Deep Dive Interactive,35,28,"50,000 .. 100,000",284,304,199.0,199.0,0.0,English,NaN,0,"{'Action': 22, 'RPG': 22, 'Adventure': 21, 'In..."
15146,613220,Steam 360 Video Player,Valve,NaN,46,32,"100,000 .. 200,000",0,0,0.0,0.0,0.0,English,NaN,11,"{'360 Video': 68, 'VR': 11}"
15238,616090,龙魂时刻,NaN,Jenny Bee Presents,467,854,"200,000 .. 500,000",0,0,0.0,0.0,0.0,"English, Not supported, Simplified Chinese",NaN,2,"{'Free to Play': 101, 'Massively Multiplayer':..."
15321,618610,Endless Horde,Ominous Entertainment,Ominous Entertainment,75,35,"20,000 .. 50,000",0,0,49.0,99.0,51.0,English,NaN,0,"{'Tower Defense': 49, 'Zombies': 48, 'Action':..."
15653,628860,Escape Together,NaN,Medis Media,11,8,"20,000 .. 50,000",215,260,99.0,99.0,0.0,English,NaN,0,"{'Adventure': 32, 'Casual': 31, 'Strategy': 22..."
16005,643570,Avatar of the Wolf,Choice of Games,Choice of Games,17,0,"0 .. 20,000",0,0,499.0,499.0,0.0,English,NaN,0,"{'Choices Matter': 12, 'Text-Based': 11, 'Choo..."
16231,650780,AngerForce: Reloaded,Screambox Studio,Zodiac Interactive,282,27,"20,000 .. 50,000",192,192,999.0,999.0,0.0,"English, Simplified Chinese, French, Spanish -...",NaN,1,"{'Shooter': 13, ""Shoot 'Em Up"": 13, 'Bullet He..."
16665,661090,Tank Battle Mania,NaN,Hammer Games,65,42,"0 .. 20,000",0,0,99.0,99.0,0.0,English,NaN,0,"{'Action': 25, 'Retro': 6}"
16709,661810,ElectricScribe,NaN,hallunazigames,114,43,"20,000 .. 50,000",23,23,99.0,99.0,0.0,"English, Russian",NaN,0,"{'Strategy': 23, 'Action': 23, 'Indie': 22, 'C..."
17217,673780,Mad Arkanoid,NaN,Digigo,28,34,"20,000 .. 50,000",5,5,99.0,99.0,0.0,"English, Russian",NaN,0,"{'Action': 22, 'Casual': 22, 'Sports': 21}"
17291,675500,"ACT IT OUT XL! - A Party Game for Twitch, Mixe...",Snap Finger Click,Snap Finger Click,7,1,"0 .. 20,000",0,0,999.0,999.0,0.0,"English, French, Italian, German, Spanish - Sp...",NaN,0,[]
17432,678870,EatWell,Spiez,Spiez,22,0,"0 .. 20,000",0,0,199.0,199.0,0.0,"English, Simplified Chinese",NaN,0,"{'Indie': 12, 'Perma Death': 11, 'Rogue-lite':..."
17615,682910,No Lights,Cubamano,EasyGames,36,31,"20,000 .. 50,000",0,0,199.0,199.0,0.0,English,NaN,0,"{'Action': 6, 'Indie': 5, 'Pixel Graphics': 5}"
18083,695350,Time Ninja Sakura,NaN,White Dog,14,23,"0 .. 20,000",1,1,99.0,99.0,0.0,English,NaN,0,"{'Action': 21, 'Indie': 21, 'Casual': 21}"
18524,706440,Cyborg Arena,Devdan Games,Devdan Games,10,6,"0 .. 20,000",0,0,399.0,399.0,0.0,English,NaN,0,[]
18742,712060,M.I.A. - Overture,IBLACKHOLES,IBLACKHOLES,35,3,"0 .. 20,000",0,0,1499.0,1499.0,0.0,"English, Simplified Chinese, Traditional Chine...",NaN,0,"{'Puzzle': 11, 'VR': 8}"
19467,731560,Boinks,NaN,Dream Channel,35,3,"0 .. 20,000",0,0,99.0,99.0,0.0,English,NaN,0,"{'Indie': 21, 'Casual': 21, 'Action': 20}"
20086,749290,VEHICLES FURY,Ayedh,Ayedh,1,3,"0 .. 20,000",0,0,1499.0,1499.0,0.0,English,NaN,0,"{'Action': 21, 'Indie': 21, 'Racing': 21, 'Spo..."
22879,823390,The Big Three,Altay Game,Altay Game,35,5,"0 .. 20,000",0,0,899.0,899.0,0.0,"English, Simplified Chinese, Traditional Chinese",NaN,0,"{'Comedy': 12, 'Top-Down Shooter': 12, 'Co-op'..."
22940,825550,BlueberryNOVA,"Nova B12, OtakuNovel",Nova B12,49,20,"0 .. 20,000",0,0,299.0,299.0,0.0,"English, Russian",NaN,0,"{'Nudity': 27, 'Sexual Content': 27, 'Visual N..."
24610,873160,SPECKLE: Chill Puzzle Game,DEEP Games,DEEP Games,2,1,"0 .. 20,000",0,0,99.0,99.0,0.0,English,NaN,0,"{'Puzzle': 12, 'Casual': 11, 'Music': 11, 'Str..."
25702,907920,建筑大冒险 Architectural Adventure,NaN,Flat Voxel,0,1,"0 .. 20,000",0,0,99.0,99.0,0.0,"English, Simplified Chinese, Japanese",NaN,0,"{'Adventure': 21, 'Indie': 21, 'Casual': 21, '..."
25772,910430,The War of the Worlds: Andromeda,NaN,Mediamas Europa,4,6,"0 .. 20,000",0,0,499.0,499.0,0.0,"English, Spanish - Spain",NaN,0,"{'Action': 21, 'Indie': 21}"
26603,938760,River Relaxation VR,Christopher Haag,Christopher Haag,4,3,"0 .. 20,000",0,0,399.0,399.0,0.0,English,NaN,0,{'VR': 5}
27982,992080,SpaBerry VR Experience,VisionWerx Inc,VisionWerx Inc,3,2,"0 .. 20,000",0,0,0.0,0.0,0.0,English,NaN,0,"{'Utilities': 12, 'VR': 11, 'Free to Play': 10..."
28761,1028020,Miner_Royale_Presentation_FINAL.zip,NaN,Utility Spectrum,1,1,"0 .. 20,000",0,0,199.0,199.0,0.0,English,NaN,0,{'Indie': 22}

In [29]:
drop_name_nulls[drop_name_nulls['languages'].isnull()]

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags
26,852,ValveTestApp852,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
147,4330,Star Trek: DAC - Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
249,8350,Strong Bad's Cool Game for Attractive People: ...,Telltale Games,Telltale Games,12,5,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,Adventure,0,{'Adventure': 20}
250,8360,Strong Bad's Cool Game for Attractive People: ...,Telltale Games,Telltale Games,11,6,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,Adventure,0,{'Adventure': 21}
251,8370,Strong Bad's Cool Game for Attractive People: ...,Telltale Games,Telltale Games,11,5,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,Adventure,0,{'Adventure': 20}
252,8380,Strong Bad's Cool Game for Attractive People: ...,Telltale Games,Telltale Games,12,3,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,Adventure,0,{'Adventure': 21}
256,8740,Puzzlegeddon,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,1,[]
264,8955,Borderlands DLC: Claptrap's New Robot Revolution,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
387,13120,America's Army 3 Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
394,13260,Unreal Development Kit,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
489,18310,Spectraball - Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
568,23130,Mole Control,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,1,[]
569,23140,KrissX,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,1,[]
611,25730,Madballs in...Babo: Invasion Dev,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
757,34390,Football Manager 2011 Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
780,35470,The Ball Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
907,41310,Altitude - Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
983,46470,Grotesque Tactics: Evil Heroes - Dev,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1050,50400,Mafia II - JAPAN,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,6,[]
1072,55130,HOMEFRONT Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1075,55190,HOMEFRONT [Alpha],NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1076,55210,HOMEFRONT - Japanese,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1116,63230,Monday Night Combat Development,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1177,71300,Football Manager 2012 Review,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1178,71310,Football Manager 2012 Korean,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,83,[]
1184,72520,Arcadia - Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1185,72530,Arcadia Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1207,90800,Crasher,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1233,94500,Back to the Future: Ep 2 - Get Tannen!,Telltale Games,Telltale Games,1367,162,"500,000 .. 1,000,000",91,91,0.0,0.0,0.0,NaN,NaN,2,"{'Adventure': 131, 'Point & Click': 116, 'Epis..."
1234,94510,Back to the Future: Ep 3 - Citizen Brown,Telltale Games,Telltale Games,1367,162,"500,000 .. 1,000,000",0,0,0.0,0.0,0.0,NaN,NaN,0,"{'Adventure': 131, 'Point & Click': 116, 'Epis..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1267,99110,Dungeons & Dragons: Daggerdale - Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1276,99930,[Test] Puzzle Pirates,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1280,102210,Runespell: Overture - Press,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1359,200350,Starvoid,NaN,NaN,0,0,"0 .. 20,000",1,1,0.0,0.0,0.0,NaN,NaN,1,[]
1389,201930,Jamestown IGF,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1540,209340,Ride to Hell: Retribution,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,5,[]
1574,211380,Shoot Many Robots: Arena Kings,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1591,212090,Endless Space VIP,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1605,213050,Starvoid Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1613,214050,Sanctum Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1620,214270,Mensa Academy,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,1,[]
1623,214400,American Mensa Academy,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,1,[]
1650,215490,Primal Carnage Beta,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1654,215590,Endless Space QA,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1751,222320,Football Manager 2013 Asia,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,24,[]
1765,223140,Risen 2 Dark Waters JP,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
1826,226760,Rugby Challenge 2,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,7,[]
2063,240220,Dead Island Riptide JP,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,4,[]
2094,242320,Football Manager 2014 Russian,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
2095,242360,Football Manager 2014 Korean,NaN,NaN,0,0,"0 .. 20,000",127975,127975,0.0,0.0,0.0,NaN,NaN,220,[]
2120,243180,The Harvest,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
2162,245350,Metro Last Light JP,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,3,[]
2396,254270,Dungeonland - All access pass,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
2667,265020,Ashes Cricket 2013,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
2914,275000,Platformines Demo,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
3409,293360,Second Chance Heroes,NaN,NaN,0,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,[]
4200,319150,Hazard Ops,Yingpei Games,Infernum Productions AG,672,272,"500,000 .. 1,000,000",133,265,0.0,0.0,0.0,NaN,"Action, Free to Play",0,"{'Free to Play': 84, 'Action': 63, 'Zombies': ..."
8781,439660,Tower Unite Dedicated Server,NaN,NaN,1,0,"0 .. 20,000",0,0,0.0,0.0,0.0,NaN,NaN,0,{'Free to Play': 31}
9570,460870,GOD EATER RESURRECTION,"BANDAI NAMCO Studio, SHIFT, QLOC",BANDAI NAMCO Entertainment,441,141,"0 .. 20,000",1154,1904,0.0,0.0,0.0,NaN,NaN,43,"{'Anime': 28, 'Action': 24, 'RPG': 18, 'JRPG':..."
14560,596560,MARS VR(全球使命VR),"Ying Pei Digital Technology Shanghai Co., Limited","SHANGHAI ZHENYOU TECHNOLOGY CO.,LTD",31,16,"0 .. 20,000",0,0,299.0,299.0,0.0,NaN,"Violent, Gore, Action, Adventure",0,"{'Action': 21, 'Adventure': 21, 'Gore': 21, 'V..."

In [30]:
drop_lang_genre_nulls = drop_name_nulls[(drop_name_nulls['languages'].notnull()) & (drop_name_nulls['genre'].notnull())]
drop_lang_genre_nulls.isnull().sum()

appid                0
name                 0
developer           92
publisher          195
positive             0
negative             0
owners               0
average_forever      0
median_forever       0
price                0
initialprice         0
discount             0
languages            0
genre                0
ccu                  0
tags                 0
dtype: int64

In [31]:
drop_lang_genre_nulls[drop_lang_genre_nulls['name'].str.contains(r'\bdemo\b', flags=re.I)].head()

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags
1608,213390,Atooms to Moolecules Demo,BitSits Games,BitSits Games,9,6,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Indie, Casual",0,"{'Indie': 21, 'Casual': 21}"
1755,222500,Rail Adventures - VR Tech Demo,exosyphen studios,exosyphen studios,16,17,"20,000 .. 50,000",0,0,0.0,0.0,0.0,English,"Action, Free to Play, Indie, Racing",0,"{'Free to Play': 26, 'Action': 25, 'Racing': 2..."
8580,434430,Abbot's Book Demo,"The Abbot's Book, LLC","Blackthorn Media, LLC",155,18,"50,000 .. 100,000",0,0,0.0,0.0,0.0,English,"Adventure, Free to Play, Indie, RPG",1,"{'Adventure': 28, 'Free to Play': 25, 'RPG': 2..."
9771,465090,Don Bradman Cricket 17 Demo,Big Ant Studios,Big Ant Studios,3,2,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Simulation, Sports",0,"{'Simulation': 23, 'Sports': 22}"
11270,511360,UNCORPOREAL - Holographic Photography Demo,Uncorporeal Systems,Uncorporeal Systems,15,2,"0 .. 20,000",0,0,0.0,0.0,0.0,English,Education,0,{'Education': 21}

In [32]:
drop_demos = drop_lang_genre_nulls[~drop_lang_genre_nulls['name'].str.contains(r'\bdemo\b', flags=re.I)]

In [33]:
drop_demos[drop_demos['name'].str.contains(r'\bbeta\b', flags=re.I)].head()

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags
5093,343320,StaudSoft's Synthetic World Beta,StaudSoft,StaudSoft,12,5,"0 .. 20,000",0,0,999.0,999.0,0.0,English,"Action, Indie, RPG",0,"{'Action': 25, 'RPG': 24, 'Indie': 23, 'Crafti..."
9267,453000,TheWaveVR Beta,TheWaveVR,TheWaveVR,364,21,"50,000 .. 100,000",13,13,0.0,0.0,0.0,English,"Massively Multiplayer, Simulation, Early Access",13,"{'Early Access': 27, 'VR': 26, 'Massively Mult..."
9443,457550,Bigscreen Beta,"Bigscreen, Inc.","Bigscreen, Inc.",975,127,"200,000 .. 500,000",153,155,0.0,0.0,0.0,English,Simulation,55,"{'VR': 34, 'Simulation': 28, 'Utilities': 20, ..."
13327,564310,Serious Sam Fusion 2017 (beta),Croteam,"Devolver Digital, Croteam",1562,126,"0 .. 20,000",180,61,1499.0,1499.0,0.0,"English, French, Italian, German, Spanish - Sp...","Action, Indie",71,"{'Action': 50, 'Indie': 37, 'FPS': 29, 'Gore':..."
14871,604530,EmbodyMe Beta,EmbodyMe Inc.,EmbodyMe Inc.,10,7,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Casual, Free to Play, Massively Multiplayer, E...",0,"{'Early Access': 21, 'Free to Play': 23, 'Casu..."

In [34]:
drop_betas = drop_demos[~drop_demos['name'].str.contains(r'\bbeta\b', flags=re.I)].copy()
drop_betas.isnull().sum()

appid                0
name                 0
developer           91
publisher          194
positive             0
negative             0
owners               0
average_forever      0
median_forever       0
price                0
initialprice         0
discount             0
languages            0
genre                0
ccu                  0
tags                 0
dtype: int64

In [35]:
drop_betas[drop_betas['developer'].isnull()]

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags
330,11370,Nikopol: Secrets of the Immortals,NaN,Meridian4,163,130,"100,000 .. 200,000",0,0,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Spain","Adventure, Indie",0,"{'Adventure': 61, 'Point & Click': 43, 'Indie'..."
331,11390,Crash Time 2,NaN,Meridian4,1148,1017,"500,000 .. 1,000,000",30,37,999.0,999.0,0.0,"English, French, German","Action, Racing",2,"{'Racing': 102, 'Action': 63, 'Open World': 57..."
379,12690,Hunting Unlimited 2010,NaN,"ValuSoft, Retroism",142,39,"50,000 .. 100,000",0,0,999.0,999.0,0.0,English,"Simulation, Sports",9,"{'Simulation': 35, 'Hunting': 30, 'Sports': 20..."
742,33730,18 Wheels of Steel: Extreme Trucker,NaN,"ValuSoft, Play Hard Games",108,56,"50,000 .. 100,000",0,0,999.0,999.0,0.0,English,Simulation,0,"{'Simulation': 33, 'Driving': 16}"
743,33750,Prison Tycoon 4: SuperMax,NaN,"ValuSoft, Retroism",6,23,"0 .. 20,000",0,0,2499.0,2499.0,0.0,English,Simulation,0,"{'Simulation': 23, 'Management': 5}"
1618,214190,Minimum,NaN,"Atari, Cubed Productions LLC",2608,1711,"200,000 .. 500,000",73,73,0.0,0.0,0.0,English,Action,0,"{'Action': 184, 'Third-Person Shooter': 137, '..."
1701,218980,Patterns,NaN,NaN,26,130,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Casual, Simulation, Strategy",0,"{'Casual': 26, 'Simulation': 22, 'Strategy': 2..."
1834,227020,Rise of Venice,NaN,Kalypso Media Digital,203,155,"50,000 .. 100,000",230,431,1999.0,1999.0,0.0,"English, French, German, Italian, Spanish - Sp...","Simulation, Strategy",14,"{'Strategy': 52, 'Simulation': 46, 'Trading': ..."
1895,230860,Cannon Brawl,NaN,Turtle Sandbox,618,64,"50,000 .. 100,000",41,41,1499.0,1499.0,0.0,English,"Action, Adventure, Indie, Strategy",2,"{'Indie': 62, 'Local Multiplayer': 58, '2D': 5..."
2011,237370,PlayClaw 5 - Game Recording and Streaming,NaN,NaN,273,125,"0 .. 20,000",0,0,2799.0,3999.0,30.0,"English, Russian, French, Hungarian, Polish, P...","Audio Production, Software Training, Utilities...",21,"{'Utilities': 41, 'Video Production': 40, 'Aud..."
2054,239350,Spelunky,NaN,Mossmouth,8560,851,"500,000 .. 1,000,000",606,763,1499.0,1499.0,0.0,"English, French, Italian, German, Spanish - Spain",Indie,270,"{'Rogue-like': 809, 'Platformer': 743, 'Indie'..."
2097,242550,Rayman Legends,NaN,Ubisoft,3050,243,"200,000 .. 500,000",2974,3078,2999.0,2999.0,0.0,"English, French, Italian, German, Spanish - Sp...","Action, Adventure",69,"{'Platformer': 344, 'Local Co-Op': 181, 'Great..."
2111,242940,Anachronox,NaN,Square Enix,221,68,"200,000 .. 500,000",0,0,699.0,699.0,0.0,English,RPG,6,"{'RPG': 77, 'Cyberpunk': 52, 'Sci-fi': 48, 'Co..."
2112,242960,Blood Omen 2: Legacy of Kain,NaN,Square Enix,326,146,"200,000 .. 500,000",6,9,699.0,699.0,0.0,English,Action,3,"{'Action': 51, 'Vampire': 40, 'Adventure': 23,..."
2113,242980,Daikatana,NaN,Square Enix,253,231,"200,000 .. 500,000",0,0,699.0,699.0,0.0,English,Action,2,"{'Action': 53, 'FPS': 35, 'Classic': 20, 'Time..."
2116,243040,Startopia,NaN,Square Enix,514,66,"200,000 .. 500,000",20,20,699.0,699.0,0.0,English,Simulation,10,"{'Simulation': 95, 'Management': 85, 'Sci-fi':..."
2117,243060,Urban Chaos,NaN,"Square Enix, Eidos Interactive",90,35,"20,000 .. 50,000",0,0,699.0,699.0,0.0,English,Action,1,"{'Action': 33, 'Classic': 13, 'Female Protagon..."
2156,245010,Deathtrap Dungeon,NaN,Square Enix,49,28,"20,000 .. 50,000",0,0,699.0,699.0,0.0,English,"Action, Adventure",0,"{'Action': 25, 'Adventure': 24, 'Female Protag..."
2171,245730,Flashback,NaN,Ubisoft,218,151,"20,000 .. 50,000",0,0,999.0,999.0,0.0,"English, French, Italian, German, Spanish - Sp...","Action, Adventure, RPG",1,"{'Action': 50, 'Adventure': 49, 'RPG': 33, 'Pl..."
2175,246300,Paranormal,NaN,Matthew C Cohen,287,166,"20,000 .. 50,000",214,214,999.0,999.0,0.0,English,"Action, Adventure, Indie, Simulation, Early Ac...",1,"{'Early Access': 36, 'Horror': 97, 'Indie': 46..."
2197,247120,Portal 2 Sixense Perceptual Pack,NaN,Sixense,196,214,"100,000 .. 200,000",98,87,0.0,0.0,0.0,English,"Action, Adventure",0,"{'Adventure': 73, 'Action': 69, 'Free to Play'..."
2201,247350,Artemis Spaceship Bridge Simulator,NaN,NaN,351,40,"50,000 .. 100,000",0,0,699.0,699.0,0.0,English,"Action, Indie, Simulation",1,"{'Simulation': 54, 'Indie': 37, 'Action': 33, ..."
2207,247910,Sniper Elite: Nazi Zombie Army 2,NaN,Rebellion,3069,554,"200,000 .. 500,000",289,335,1499.0,1499.0,0.0,"English, French, Italian, German, Spanish - Sp...","Action, Adventure",23,"{'Zombies': 294, 'Action': 185, 'Co-op': 171, ..."
2221,248490,1953 - KGB Unleashed,NaN,United Independent Entertainment GmbH,297,222,"100,000 .. 200,000",3,3,179.0,599.0,70.0,"English, French, German, Polish, Russian",Adventure,1,"{'Adventure': 63, 'Point & Click': 44, 'Horror..."
2230,248710,Iesabel,NaN,Forever Entertainment S. A.,198,468,"200,000 .. 500,000",123,240,499.0,499.0,0.0,"English, French, Italian, German, Spanish - Sp...","Action, Indie, RPG",0,"{'RPG': 46, 'Action': 43, 'Indie': 36, 'Hack a..."
2231,248730,A Walk in the Dark,NaN,NaN,300,69,"20,000 .. 50,000",0,0,699.0,699.0,0.0,English,"Action, Indie",0,"{'Indie': 42, 'Platformer': 32, 'Action': 30, ..."
2235,248970,Vector,NaN,Nekki GmbH,541,87,"20,000 .. 50,000",0,0,699.0,699.0,0.0,"English, French, Italian, German, Spanish - Sp...","Action, Indie",3,"{'Parkour': 65, 'Action': 49, 'Indie': 45, 'Pl..."
2332,252370,The Shivah,NaN,Wadjet Eye Games,468,107,"50,000 .. 100,000",0,0,499.0,499.0,0.0,English,"Adventure, Indie",2,"{'Adventure': 83, 'Point & Click': 77, 'Indie'..."
2349,252770,Vox,NaN,NaN,93,300,"20,000 .. 50,000",102,108,999.0,999.0,0.0,English,"Action, Adventure, Indie, RPG, Early Access",0,"{'Early Access': 22, 'RPG': 33, 'Adventure': 3..."
2365,253310,Fester Mudd: Curse of the Gold - Episode 1,NaN,NaN,82,21,"20,000 .. 50,000",0,0,999.0,999.0,0.0,"English, German",Adventure,0,"{'Adventure': 33, 'Point & Click': 27, 'Episod..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14547,596170,Magazine Editor,NaN,NaN,90,132,"200,000 .. 500,000",217,273,99.0,99.0,0.0,"English, Russian","Action, Indie, Simulation",1,"{'Simulation': 26, 'Indie': 25, 'Action': 24}"
14821,603290,GRUZCHIK,NaN,NaN,35,34,"50,000 .. 100,000",269,282,99.0,99.0,0.0,English,"Adventure, Casual, Indie, Strategy",0,"{'Strategy': 29, 'Adventure': 29, 'Indie': 22,..."
14835,603570,Cowboy zombie,NaN,NaN,101,36,"100,000 .. 200,000",231,256,99.0,99.0,0.0,English,"Casual, Indie, Simulation",0,"{'Indie': 23, 'Casual': 23, 'Simulation': 21, ..."
14877,604810,Yeti Adventure,NaN,NaN,38,48,"100,000 .. 200,000",243,266,99.0,99.0,0.0,English,"Action, Adventure, Casual, Indie",0,"{'Action': 22, 'Indie': 22, 'Casual': 22, 'Adv..."
14900,605520,Running Sausage,NaN,NaN,80,48,"100,000 .. 200,000",235,257,99.0,99.0,0.0,"English, Russian","Action, Indie, Sports",0,"{'Action': 24, 'Indie': 23, 'Sports': 21}"
15221,615490,I'm Awesome,NaN,NaN,11,4,"0 .. 20,000",0,0,199.0,199.0,0.0,English,"Sexual Content, Violent, Action, Casual, Indie",0,"{'Action': 34, 'Indie': 33, 'Casual': 33, 'Vio..."
15267,617240,Cucumber Blues,NaN,NaN,73,109,"50,000 .. 100,000",347,370,99.0,99.0,0.0,"English, Russian","Violent, Action, Adventure",0,"{'Action': 24, 'Adventure': 24, 'Violent': 23}"
15296,618030,Arcade Tale,NaN,NaN,47,86,"100,000 .. 200,000",204,246,99.0,99.0,0.0,English,"Adventure, Indie",0,"{'Indie': 23, 'Adventure': 22}"
15367,619730,Mad Driver,NaN,NaN,46,48,"100,000 .. 200,000",287,294,99.0,99.0,0.0,"English, Russian","Casual, Indie, Racing, Strategy",0,"{'Strategy': 21, 'Indie': 21, 'Casual': 21, 'R..."
16246,651280,TinkerQuarry,NaN,Caprizant Games,68,6,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Adventure, Free to Play, Indie, RPG, Early Access",0,"{'Early Access': 25, 'Free to Play': 30, 'RPG'..."
16405,655260,TAP TOUCH RUN,NaN,NaN,89,98,"50,000 .. 100,000",0,0,99.0,99.0,0.0,English,"Action, Casual, Indie, Sports",0,"{'Indie': 22, 'Casual': 22, 'Action': 21, 'Spo..."
16560,658440,Enshrouded World: Home Truths,NaN,NaN,1,2,"0 .. 20,000",0,0,0.0,0.0,0.0,English,Action,0,"{'Action': 31, 'Sci-fi': 11, 'Female Protagoni..."
16607,659350,Cowboy Revenge,NaN,NaN,47,53,"20,000 .. 50,000",1,1,99.0,99.0,0.0,English,"Action, Casual, Indie, Massively Multiplayer",0,"{'Action': 25, 'Indie': 25, 'Casual': 23, 'Mas..."
16664,661080,WarMages,NaN,NaN,16,14,"0 .. 20,000",1,1,99.0,99.0,0.0,"English, Russian","Adventure, Casual, Indie",0,"{'Adventure': 20, 'Indie': 20, 'Casual': 20}"
16681,661370,DSquad War,NaN,NaN,43,45,"0 .. 20,000",0,0,99.0,99.0,0.0,English,"Action, Adventure, Indie",0,"{'Action': 23, 'Adventure': 23, 'Indie': 23, '..."
16726,662330,Bio Soup,NaN,NaN,48,87,"20,000 .. 50,000",2,2,99.0,99.0,0.0,"English, Russian","Adventure, Casual, Indie",0,"{'Indie': 23, 'Adventure': 22, 'Casual': 22}"
16764,663140,Robby's Adventure,NaN,NaN,7,1,"0 .. 20,000",0,0,499.0,499.0,0.0,"English, Russian","Adventure, Casual, Indie",0,"{'Casual': 44, 'Platformer': 36, 'Indie': 35, ..."
16859,665600,Dabda,NaN,NaN,39,13,"0 .. 20,000",0,0,99.0,99.0,0.0,"English, Russian","Adventure, Casual, Indie",0,"{'Adventure': 23, 'Indie': 23, 'Casual': 23, '..."
16908,666690,Animal Crush,NaN,NaN,18,24,"0 .. 20,000",0,0,99.0,99.0,0.0,English,Indie,0,"{'Indie': 21, 'Match 3': 5}"
17069,670770,Stickman Wars,NaN,NaN,40,50,"20,000 .. 50,000",0,0,99.0,99.0,0.0,"English, Russian","Action, Indie",0,"{'Violent': 28, 'Action': 22, 'Indie': 20}"
17215,673760,Air Tactical,NaN,NaN,67,26,"0 .. 20,000",1,1,99.0,99.0,0.0,"English, Russian","Action, Casual, Indie",0,"{'Action': 26, 'Indie': 23, 'Casual': 23, ""Sho..."
17800,687790,Unlikely Stickman,NaN,NaN,71,46,"0 .. 20,000",2,2,399.0,399.0,0.0,English,Action,0,{'Action': 22}
17817,688150,JUMPER : SPEEDRUN,NaN,NaN,5,8,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Indie, Racing",0,"{'Indie': 21, 'Racing': 21, 'Platformer': 11, ..."
18197,698490,Tower of Lust,NaN,NaN,37,98,"20,000 .. 50,000",0,0,99.0,99.0,0.0,English,"Sexual Content, Nudity, Action, Adventure, RPG",0,"{'Sexual Content': 28, 'Nudity': 27, 'RPG': 26..."
18399,703610,Space Girls,NaN,NaN,70,81,"20,000 .. 50,000",0,0,99.0,99.0,0.0,"English, Russian","Sexual Content, Nudity, Action, Casual, Indie",0,"{'Nudity': 26, 'Sexual Content': 25, 'Action':..."
20077,749120,MineStickman,NaN,NaN,17,26,"0 .. 20,000",7,7,399.0,399.0,0.0,"English, Russian","Action, Adventure",0,"{'Action': 22, 'Adventure': 20}"
21088,776140,Idol Quest VR,NaN,NaN,8,8,"0 .. 20,000",0,0,0.0,0.0,0.0,"English, French, Italian, German, Spanish - Sp...","Violent, Gore, Action, Adventure, Indie",0,"{'Action': 23, 'Indie': 22, 'Adventure': 21, '..."
23544,844090,Piano Simulator,NaN,Kavkaz Sila Games,1,9,"0 .. 20,000",0,0,299.0,299.0,0.0,"English, Russian","Simulation, Early Access",0,"{'Early Access': 21, 'Simulation': 31}"
23590,845330,Sign Here: _________,NaN,NaN,6,10,"0 .. 20,000",21,21,99.0,99.0,0.0,English,"Casual, Indie, Simulation",0,"{'Indie': 21, 'Casual': 21, 'Simulation': 21, ..."
25766,910290,CRACKPOT DESPOT: TRUMP WARFARE,NaN,NaN,0,1,"0 .. 20,000",0,0,499.0,499.0,0.0,English,"Action, Adventure, Casual, Indie",0,"{'Action': 21, 'Indie': 21, 'Adventure': 20, '..."

In [36]:
drop_betas[drop_betas['publisher'].isnull()]

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags
67,2540,RIP - Trilogy,Elephant Games,NaN,199,131,"100,000 .. 200,000",1,2,499.0,499.0,0.0,English,"Casual, Indie",0,"{'Indie': 38, 'Casual': 35, 'Arcade': 14, 'Sho..."
68,2570,Vigil: Blood Bitterness,Freegamer,NaN,29,108,"50,000 .. 100,000",1,2,0.0,0.0,0.0,English,"Indie, RPG",0,"{'Indie': 27, 'RPG': 22, 'Puzzle': 7, 'Singlep..."
190,6600,Bullet Candy,R C Knight,NaN,39,32,"50,000 .. 100,000",0,0,399.0,399.0,0.0,English,"Casual, Indie",0,"{'Indie': 27, 'Casual': 23, 'Twin Stick Shoote..."
385,12900,AudioSurf,Dylan Fitterer,NaN,9040,401,"1,000,000 .. 2,000,000",2300,177,999.0,999.0,0.0,"English, Russian",Indie,31,"{'Music': 719, 'Rhythm': 475, 'Indie': 462, 'C..."
451,16300,Everyday Shooter,Queasy Games,NaN,81,6,"20,000 .. 50,000",37,37,999.0,999.0,0.0,English,"Indie, Casual",0,"{'Indie': 31, 'Casual': 21, 'Twin Stick Shoote..."
623,26500,Cogs,Lazy 8 Studios,NaN,648,87,"500,000 .. 1,000,000",38,36,599.0,599.0,0.0,"English, French, German, Italian, Polish, Russian","Indie, Casual",2,"{'Puzzle': 124, 'Indie': 87, 'Casual': 82, 'Si..."
894,40800,Super Meat Boy,Team Meat,NaN,24133,1301,"2,000,000 .. 5,000,000",325,136,1499.0,1499.0,0.0,"English, Russian",Indie,74,"{'Platformer': 1218, 'Indie': 969, 'Difficult'..."
1183,72500,Arcadia,Joshyy,NaN,34,41,"0 .. 20,000",0,0,499.0,499.0,0.0,"English, Dutch, Spanish - Spain","Casual, Indie",0,"{'Indie': 24, 'Casual': 22, ""Shoot 'Em Up"": 6}"
1239,94610,Hector: Episode 2,Straandlooper,NaN,29,7,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Adventure, Casual",0,"{'Adventure': 22, 'Casual': 21}"
1348,116120,Lightfish,Eclipse Games,NaN,117,27,"50,000 .. 100,000",0,0,499.0,499.0,0.0,English,"Action, Indie",0,"{'Indie': 30, 'Action': 25, 'Casual': 9, 'Puzz..."
1369,200910,Before the Echo,Iridium Studios,NaN,1109,175,"100,000 .. 200,000",227,181,499.0,499.0,0.0,English,"Indie, RPG",3,"{'Rhythm': 96, 'RPG': 92, 'Indie': 79, 'Music'..."
1486,207150,Stellar Impact,Tindalos Interactive,NaN,201,334,"50,000 .. 100,000",136,140,999.0,999.0,0.0,"English, French, German, Russian","Action, Indie, Strategy",1,"{'Strategy': 29, 'Indie': 27, 'Action': 24, 'M..."
1701,218980,Patterns,NaN,NaN,26,130,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Casual, Simulation, Strategy",0,"{'Casual': 26, 'Simulation': 22, 'Strategy': 2..."
1749,222160,Hamlet or the Last Game without MMORPG Feature...,Denis Galanin (mif2000),NaN,265,150,"100,000 .. 200,000",322,395,499.0,499.0,0.0,"English, German, French, Italian, Korean, Span...","Adventure, Indie",1,"{'Adventure': 48, 'Indie': 45, 'Point & Click'..."
1839,227180,Kingdom Wars,Reverie World Studios,NaN,1677,835,"500,000 .. 1,000,000",137,217,0.0,0.0,0.0,"English, German, French, Italian, Spanish - Spain","Free to Play, Indie, Massively Multiplayer, RP...",16,"{'Strategy': 190, 'Free to Play': 145, 'RTS': ..."
2011,237370,PlayClaw 5 - Game Recording and Streaming,NaN,NaN,273,125,"0 .. 20,000",0,0,2799.0,3999.0,30.0,"English, Russian, French, Hungarian, Polish, P...","Audio Production, Software Training, Utilities...",21,"{'Utilities': 41, 'Video Production': 40, 'Aud..."
2033,238280,Legend of Dungeon,Robot Loves Kitty,NaN,1079,390,"200,000 .. 500,000",193,194,999.0,999.0,0.0,English,"Action, Indie, RPG",6,"{'Rogue-like': 113, 'Indie': 97, 'RPG': 87, 'D..."
2158,245150,The Novelist,Orthogonal Games,NaN,695,221,"100,000 .. 200,000",198,222,999.0,999.0,0.0,English,"Adventure, Casual, Indie",0,"{'Indie': 62, 'Adventure': 47, 'Story Rich': 3..."
2176,246360,Perfection.,Greg Lobanov,NaN,22,38,"0 .. 20,000",0,0,299.0,299.0,0.0,English,"Casual, Indie",0,"{'Casual': 29, 'Indie': 27, 'Puzzle': 14}"
2200,247310,Gravi,Hashbang Games,NaN,34,51,"0 .. 20,000",128,128,499.0,499.0,0.0,English,"Early Access, Indie",0,"{'Early Access': 23, 'Indie': 27, 'Platformer'..."
2201,247350,Artemis Spaceship Bridge Simulator,NaN,NaN,351,40,"50,000 .. 100,000",0,0,699.0,699.0,0.0,English,"Action, Indie, Simulation",1,"{'Simulation': 54, 'Indie': 37, 'Action': 33, ..."
2212,248290,Reach for the Sun,Filament Games,NaN,219,97,"20,000 .. 50,000",126,126,499.0,499.0,0.0,English,"Casual, Indie, Simulation, Strategy",0,"{'Simulation': 41, 'Casual': 40, 'Indie': 35, ..."
2219,248450,Salvation Prophecy,Firedance Games,NaN,137,75,"20,000 .. 50,000",0,0,1999.0,1999.0,0.0,"English, French, Russian, Hungarian, Dutch, It...","Action, Indie, RPG, Simulation",0,"{'Action': 41, 'RPG': 40, 'Simulation': 35, 'I..."
2231,248730,A Walk in the Dark,NaN,NaN,300,69,"20,000 .. 50,000",0,0,699.0,699.0,0.0,English,"Action, Indie",0,"{'Indie': 42, 'Platformer': 32, 'Action': 30, ..."
2349,252770,Vox,NaN,NaN,93,300,"20,000 .. 50,000",102,108,999.0,999.0,0.0,English,"Action, Adventure, Indie, RPG, Early Access",0,"{'Early Access': 22, 'RPG': 33, 'Adventure': 3..."
2361,253190,Kingdom Wars 2: Battles,Reverie World Studios,NaN,611,337,"50,000 .. 100,000",1157,1157,999.0,999.0,0.0,"English, French, Italian, German, Spanish - Sp...","Indie, Simulation, Strategy",5,"{'Strategy': 75, 'Medieval': 65, 'RTS': 52, 'Z..."
2365,253310,Fester Mudd: Curse of the Gold - Episode 1,NaN,NaN,82,21,"20,000 .. 50,000",0,0,999.0,999.0,0.0,"English, German",Adventure,0,"{'Adventure': 33, 'Point & Click': 27, 'Episod..."
2376,253630,Steam Marines,Worthless Bums,NaN,163,147,"100,000 .. 200,000",107,107,1999.0,1999.0,0.0,English,"Indie, RPG, Strategy",1,"{'Rogue-like': 81, 'Strategy': 63, 'Indie': 57..."
2491,259490,Beast Boxing Turbo,NaN,NaN,244,29,"0 .. 20,000",68,68,0.0,0.0,0.0,English,"Action, Indie, Sports",1,"{'Sports': 47, 'Action': 38, 'Indie': 35, 'Fig..."
2493,259530,Savant - Ascent,D-Pad Studio,NaN,2467,179,"200,000 .. 500,000",209,294,199.0,199.0,0.0,"English, Japanese, Korean, Norwegian, Simplifi...","Action, Indie",3,"{'Action': 116, 'Indie': 102, 'Great Soundtrac..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16943,667550,PION,Oliver Chime,NaN,17,1,"0 .. 20,000",0,0,1999.0,1999.0,0.0,English,"Action, Indie",0,"{'Action': 22, 'Indie': 20, 'Top-Down Shooter'..."
17053,670370,Fallen Cube,WRD,NaN,2,17,"0 .. 20,000",0,0,299.0,299.0,0.0,"English, French, Italian, German, Spanish - Sp...",Indie,0,"{'Indie': 31, 'Puzzle': 12}"
17069,670770,Stickman Wars,NaN,NaN,40,50,"20,000 .. 50,000",0,0,99.0,99.0,0.0,"English, Russian","Action, Indie",0,"{'Violent': 28, 'Action': 22, 'Indie': 20}"
17107,671630,STRIPPER ANYA DEMON SLAYER,"X-MiGuPLAY, LLC",NaN,10,6,"0 .. 20,000",0,0,699.0,999.0,30.0,English,"Action, Adventure, Indie",0,"{'Indie': 31, 'Nudity': 27, 'Sexual Content': ..."
17215,673760,Air Tactical,NaN,NaN,67,26,"0 .. 20,000",1,1,99.0,99.0,0.0,"English, Russian","Action, Casual, Indie",0,"{'Action': 26, 'Indie': 23, 'Casual': 23, ""Sho..."
17231,674010,TerkEngine,TerkStudios,NaN,0,2,"0 .. 20,000",0,0,999.0,999.0,0.0,"English, Spanish - Spain, Japanese, Russian","Action, Adventure, Indie",0,"{'Action': 21, 'Adventure': 20, 'Indie': 20}"
17800,687790,Unlikely Stickman,NaN,NaN,71,46,"0 .. 20,000",2,2,399.0,399.0,0.0,English,Action,0,{'Action': 22}
17817,688150,JUMPER : SPEEDRUN,NaN,NaN,5,8,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Indie, Racing",0,"{'Indie': 21, 'Racing': 21, 'Platformer': 11, ..."
18168,697640,Juice Fresh,Candy Smith,NaN,17,9,"0 .. 20,000",0,0,99.0,99.0,0.0,English,"Casual, Indie",0,"{'Casual': 23, 'Indie': 22}"
18197,698490,Tower of Lust,NaN,NaN,37,98,"20,000 .. 50,000",0,0,99.0,99.0,0.0,English,"Sexual Content, Nudity, Action, Adventure, RPG",0,"{'Sexual Content': 28, 'Nudity': 27, 'RPG': 26..."
18393,703490,Flat Worlds,Che,NaN,10,1,"0 .. 20,000",0,0,1499.0,1499.0,0.0,English,"Indie, Simulation, Strategy, Early Access",0,"{'Early Access': 21, 'Strategy': 30, 'Indie': ..."
18399,703610,Space Girls,NaN,NaN,70,81,"20,000 .. 50,000",0,0,99.0,99.0,0.0,"English, Russian","Sexual Content, Nudity, Action, Casual, Indie",0,"{'Nudity': 26, 'Sexual Content': 25, 'Action':..."
18495,705700,Stripper Anya 2 X-MiGuFighters,"X-MiGuPLAY, LLC",NaN,7,6,"0 .. 20,000",0,0,999.0,999.0,0.0,English,"Action, Casual, Indie",0,"{'Nudity': 27, 'Action': 24, 'Violent': 23, 'I..."
20077,749120,MineStickman,NaN,NaN,17,26,"0 .. 20,000",7,7,399.0,399.0,0.0,"English, Russian","Action, Adventure",0,"{'Action': 22, 'Adventure': 20}"
20481,759830,Gamma Blast,Ilias Giouroukis,NaN,7,1,"0 .. 20,000",0,0,99.0,99.0,0.0,English,"Action, Indie",0,"{'Action': 31, 'Indie': 31, 'Bullet Hell': 14,..."
21014,773920,scram,spleen,NaN,2735,732,"500,000 .. 1,000,000",36,17,0.0,0.0,0.0,English,"Action, Adventure, Casual, Free to Play, Indie...",43,"{'Free to Play': 126, 'Multiplayer': 79, 'FPS'..."
21088,776140,Idol Quest VR,NaN,NaN,8,8,"0 .. 20,000",0,0,0.0,0.0,0.0,"English, French, Italian, German, Spanish - Sp...","Violent, Gore, Action, Adventure, Indie",0,"{'Action': 23, 'Indie': 22, 'Adventure': 21, '..."
21826,794860,eSail Sailing Simulator,eSail,NaN,58,3,"0 .. 20,000",0,0,1999.0,1999.0,0.0,English,"Racing, Simulation, Sports",0,"{'Simulation': 26, 'Sports': 22, 'Racing': 20,..."
22717,819040,Ashi: Lake of Light,Nick Cellini,NaN,24,0,"0 .. 20,000",0,0,399.0,399.0,0.0,"English, Simplified Chinese","Casual, Indie",0,"{'Casual': 32, 'Indie': 32, 'Puzzle': 14, 'Sil..."
23124,832130,Negative World,Big Niche Games,NaN,6,1,"0 .. 20,000",0,0,499.0,499.0,0.0,"English, French, German, Spanish - Spain, Dutc...","Action, Adventure, Indie",0,"{'Action': 21, 'Indie': 20, 'Adventure': 19, '..."
23161,833510,Time-Skip,GamingVNetwork,NaN,1,1,"0 .. 20,000",0,0,399.0,399.0,0.0,English,"Adventure, Indie, Strategy",0,"{'Strategy': 21, 'Adventure': 21, 'Indie': 21,..."
23456,841950,Echoes III,Binary Zoo,NaN,7,3,"0 .. 20,000",0,0,199.0,199.0,0.0,English,"Action, Indie",0,"{""Shoot 'Em Up"": 27, 'Shooter': 25, 'Action': ..."
23590,845330,Sign Here: _________,NaN,NaN,6,10,"0 .. 20,000",21,21,99.0,99.0,0.0,English,"Casual, Indie, Simulation",0,"{'Indie': 21, 'Casual': 21, 'Simulation': 21, ..."
25070,886120,UpBreakers,Bootsmann Games,NaN,8,1,"0 .. 20,000",0,0,999.0,999.0,0.0,"English, German, Simplified Chinese, Russian","Action, Casual, Indie, Early Access",0,"{'Early Access': 42, 'Indie': 53, 'Casual': 52..."
25766,910290,CRACKPOT DESPOT: TRUMP WARFARE,NaN,NaN,0,1,"0 .. 20,000",0,0,499.0,499.0,0.0,English,"Action, Adventure, Casual, Indie",0,"{'Action': 21, 'Indie': 21, 'Adventure': 20, '..."
26601,938660,Achtung die Kugel!,"Erik Sillén, Fredrik Carlsson, Philip Bretschn...",NaN,1,2,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Action, Casual, Indie",0,"{'Action': 21, 'Indie': 21, 'Casual': 21}"
26865,948340,Journey Through Memories,"Niken Hertanto, Inkan Hertanto, Juan Rosales, ...",NaN,4,0,"0 .. 20,000",0,0,99.0,99.0,0.0,English,Indie,0,{'Indie': 22}
27456,970800,Short Circuit VR,"Stefan Bauwens, Cindy Ho",NaN,25,3,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Indie, Simulation, Early Access",1,"{'Early Access': 21, 'Indie': 21, 'Simulation'..."
27895,987790,Call of Pixel: Close Quarters,Moka,NaN,5,7,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Action, Casual, Free to Play, Indie, Massively...",0,"{'Early Access': 21, 'Indie': 31, 'Free to Pla..."
28244,1003690,CrossTrix,Jason Free,NaN,1,0,"0 .. 20,000",0,0,999.0,999.0,0.0,English,"Casual, Indie, Strategy",0,"{'Casual': 22, 'Indie': 20, 'Strategy': 19}"

In [37]:
drop_betas[((drop_betas['publisher'].isnull()) | (drop_betas['developer'].isnull())) & (drop_betas['average_forever'] > 200)]

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags
385,12900,AudioSurf,Dylan Fitterer,NaN,9040,401,"1,000,000 .. 2,000,000",2300,177,999.0,999.0,0.0,"English, Russian",Indie,31,"{'Music': 719, 'Rhythm': 475, 'Indie': 462, 'C..."
894,40800,Super Meat Boy,Team Meat,NaN,24133,1301,"2,000,000 .. 5,000,000",325,136,1499.0,1499.0,0.0,"English, Russian",Indie,74,"{'Platformer': 1218, 'Indie': 969, 'Difficult'..."
1369,200910,Before the Echo,Iridium Studios,NaN,1109,175,"100,000 .. 200,000",227,181,499.0,499.0,0.0,English,"Indie, RPG",3,"{'Rhythm': 96, 'RPG': 92, 'Indie': 79, 'Music'..."
1749,222160,Hamlet or the Last Game without MMORPG Feature...,Denis Galanin (mif2000),NaN,265,150,"100,000 .. 200,000",322,395,499.0,499.0,0.0,"English, German, French, Italian, Korean, Span...","Adventure, Indie",1,"{'Adventure': 48, 'Indie': 45, 'Point & Click'..."
1834,227020,Rise of Venice,NaN,Kalypso Media Digital,203,155,"50,000 .. 100,000",230,431,1999.0,1999.0,0.0,"English, French, German, Italian, Spanish - Sp...","Simulation, Strategy",14,"{'Strategy': 52, 'Simulation': 46, 'Trading': ..."
2054,239350,Spelunky,NaN,Mossmouth,8560,851,"500,000 .. 1,000,000",606,763,1499.0,1499.0,0.0,"English, French, Italian, German, Spanish - Spain",Indie,270,"{'Rogue-like': 809, 'Platformer': 743, 'Indie'..."
2097,242550,Rayman Legends,NaN,Ubisoft,3050,243,"200,000 .. 500,000",2974,3078,2999.0,2999.0,0.0,"English, French, Italian, German, Spanish - Sp...","Action, Adventure",69,"{'Platformer': 344, 'Local Co-Op': 181, 'Great..."
2175,246300,Paranormal,NaN,Matthew C Cohen,287,166,"20,000 .. 50,000",214,214,999.0,999.0,0.0,English,"Action, Adventure, Indie, Simulation, Early Ac...",1,"{'Early Access': 36, 'Horror': 97, 'Indie': 46..."
2207,247910,Sniper Elite: Nazi Zombie Army 2,NaN,Rebellion,3069,554,"200,000 .. 500,000",289,335,1499.0,1499.0,0.0,"English, French, Italian, German, Spanish - Sp...","Action, Adventure",23,"{'Zombies': 294, 'Action': 185, 'Co-op': 171, ..."
2361,253190,Kingdom Wars 2: Battles,Reverie World Studios,NaN,611,337,"50,000 .. 100,000",1157,1157,999.0,999.0,0.0,"English, French, Italian, German, Spanish - Sp...","Indie, Simulation, Strategy",5,"{'Strategy': 75, 'Medieval': 65, 'RTS': 52, 'Z..."
2377,253650,Sparkle 2 Evo,NaN,Forever Entertainment S. A.,1393,530,"200,000 .. 500,000",305,398,499.0,499.0,0.0,English,"Action, Casual, Indie, Simulation",1,"{'Casual': 69, 'Indie': 63, 'Simulation': 52, ..."
2388,253920,Gorky 17,NaN,Topware Interactive ACE,934,263,"500,000 .. 1,000,000",314,323,499.0,499.0,0.0,"English, French, German, Spanish - Spain, Poli...","RPG, Strategy",33,"{'RPG': 90, 'Strategy': 69, 'Turn-Based': 53, ..."
2389,253940,Septerra Core,NaN,Topware Interactive,459,194,"200,000 .. 500,000",301,287,499.0,499.0,0.0,"English, German",RPG,43,"{'RPG': 82, 'Turn-Based': 41, 'JRPG': 40, 'Sin..."
2394,254100,World War II: Panzer Claws,NaN,Topware Interactive,193,123,"200,000 .. 500,000",259,268,499.0,499.0,0.0,"English, French, Italian, German, Polish, Russian",Strategy,19,"{'Strategy': 42, 'World War II': 27, 'RTS': 20}"
2493,259530,Savant - Ascent,D-Pad Studio,NaN,2467,179,"200,000 .. 500,000",209,294,199.0,199.0,0.0,"English, Japanese, Korean, Norwegian, Simplifi...","Action, Indie",3,"{'Action': 116, 'Indie': 102, 'Great Soundtrac..."
2505,259780,Nimble Quest,NaN,NaN,650,64,"20,000 .. 50,000",253,303,499.0,499.0,0.0,English,"Action, Casual, Indie",1,"{'Casual': 38, 'Indie': 32, 'Action': 31, 'Arc..."
2643,264140,Pixel Piracy,Vitali Kirpu,NaN,4409,2355,"500,000 .. 1,000,000",495,657,999.0,999.0,0.0,"English, French, German, Spanish - Spain, Finn...","Adventure, Indie, RPG, Simulation",16,"{'Pirates': 373, 'Pixel Graphics': 301, 'Indie..."
2663,264690,Coin Crypt,Greg Lobanov,NaN,464,72,"100,000 .. 200,000",340,340,999.0,999.0,0.0,English,"Indie, RPG",3,"{'Indie': 41, 'RPG': 40, 'Rogue-like': 28, 'Ca..."
3157,285070,Between Me and The Night,RainDance LX,NaN,584,168,"200,000 .. 500,000",334,334,499.0,499.0,0.0,"English, French, German, Spanish - Spain, Port...","Action, Adventure, Indie",2,"{'Indie': 38, 'Adventure': 36, 'Action': 30, '..."
4860,338420,Alum,Crashable Studios,NaN,97,41,"50,000 .. 100,000",476,476,499.0,499.0,0.0,English,"Adventure, Indie, RPG",0,"{'Adventure': 34, 'Indie': 29, 'RPG': 21, 'Poi..."
4918,339860,none,NaN,NaN,84,32,"50,000 .. 100,000",309,325,0.0,0.0,0.0,English,"Adventure, Indie, Massively Multiplayer, RPG, ...",0,"{'Indie': 34, 'RPG': 33, 'Adventure': 32, 'Mas..."
5110,343780,Cat Goes Fishing,Cat5Games,NaN,1873,186,"100,000 .. 200,000",439,472,699.0,699.0,0.0,English,"Casual, Indie, Simulation",45,"{'Fishing': 100, 'Casual': 88, 'Cute': 71, 'In..."
5571,355150,gravilon,NaN,NaN,783,502,"200,000 .. 500,000",326,395,299.0,299.0,0.0,English,"Adventure, Indie, Strategy",1,"{'Indie': 38, 'Platformer': 24, 'Puzzle': 20, ..."
6779,385020,none,none,NaN,14,26,"20,000 .. 50,000",262,272,0.0,0.0,0.0,"English, French, Italian, German, Spanish - Sp...","Casual, Indie, Massively Multiplayer, Strategy",0,"{'Indie': 32, 'Strategy': 31, 'Casual': 21, 'M..."
6816,385770,Time Clickers,Proton Studio Inc,NaN,3850,494,"500,000 .. 1,000,000",423,224,0.0,0.0,0.0,English,"Action, Casual, Free to Play, Indie",283,"{'Free to Play': 159, 'Clicker': 153, 'Casual'..."
6912,388080,Borderless Gaming,"AndrewMD5, Codeusa",NaN,1107,250,"100,000 .. 200,000",1369,1369,399.0,399.0,0.0,"English, German, Russian, French, Simplified C...",Utilities,578,"{'Utilities': 45, 'Software': 31, 'Indie': 16,..."
7364,399270,Quick Slick Deadly,Adventurous Productions,NaN,25,27,"20,000 .. 50,000",511,511,199.0,199.0,0.0,English,"Action, Indie, RPG",0,"{'Action': 25, 'Indie': 24, 'RPG': 21}"
8721,438010,PulseCharge,Frozenmark Games,NaN,64,70,"100,000 .. 200,000",253,242,99.0,99.0,0.0,English,"Action, Adventure, Indie",0,"{'Indie': 24, 'Action': 22, 'Adventure': 22, '..."
9162,449680,SAMOLIOTIK,NaN,NaN,2159,387,"200,000 .. 500,000",277,294,99.0,99.0,0.0,"English, Russian","Action, Casual, Indie",113,"{'Illuminati': 57, 'Casual': 55, 'Action': 51,..."
9657,462680,BalanCity,Menic Games,NaN,249,84,"50,000 .. 100,000",214,214,799.0,799.0,0.0,"English, Spanish - Spain","Casual, Indie, Simulation, Strategy",8,"{'Casual': 37, 'Indie': 35, 'Simulation': 35, ..."
10284,486820,Yellow: The Yellow Artifact,NaN,NaN,404,467,"200,000 .. 500,000",236,241,99.0,99.0,0.0,English,"Action, Adventure, Casual, Indie",1,"{'Indie': 31, 'Adventure': 30, 'Casual': 30, '..."
11680,521590,Subterra,Warfare Studios,NaN,27,19,"20,000 .. 50,000",242,242,499.0,499.0,0.0,English,"Sexual Content, Action, Adventure, Indie, RPG",0,"{'Sexual Content': 30, 'RPG': 27, 'Action': 24..."
12061,530550,Bubble Jungle Super Chameleon Platformer World,NaN,NaN,15,2,"20,000 .. 50,000",459,459,0.0,0.0,0.0,English,"Adventure, Casual, Indie",0,"{'Casual': 22, 'Adventure': 21, 'Indie': 21, '..."
12161,533620,STARUSHKO LUB,NaN,NaN,122,202,"200,000 .. 500,000",351,365,99.0,99.0,0.0,English,"Action, Adventure, Casual, Indie, Racing",0,"{'Casual': 36, 'Indie': 35, 'Action': 21, 'Rac..."
12163,533640,VoxreD,NaN,Atriagames,57,51,"50,000 .. 100,000",407,427,99.0,99.0,0.0,English,"Adventure, Casual, Indie",0,"{'Indie': 24, 'Casual': 24, 'Adventure': 22}"
12309,537860,Ballistic Protection,NaN,NaN,311,247,"200,000 .. 500,000",294,308,99.0,99.0,0.0,"English, Russian","Action, Indie, Strategy",1,"{'Strategy': 23, 'Action': 22, 'Indie': 21, 'T..."
12673,547410,Peak Angle: Drift Online,Peak Angle Team,NaN,508,300,"20,000 .. 50,000",360,360,799.0,799.0,0.0,"English, Russian","Massively Multiplayer, Racing, Simulation, Sports",5,"{'Racing': 83, 'Simulation': 52, 'Massively Mu..."
13119,558610,Mad Hunter,NaN,NaN,191,143,"200,000 .. 500,000",261,296,399.0,399.0,0.0,"English, Russian","Violent, Action, Racing, Simulation",1,"{'Violent': 24, 'Action': 22, 'Racing': 21, 'S..."
13120,558620,Steel Invaders,NaN,NaN,159,46,"200,000 .. 500,000",222,255,99.0,99.0,0.0,"English, Russian","Action, Indie",1,"{'Action': 24, 'Indie': 23}"
13359,565340,ZombieCarz,NaN,NaN,198,148,"100,000 .. 200,000",282,300,399.0,399.0,0.0,"English, Russian","Action, Indie, Racing",0,"{'Action': 25, 'Indie': 24, 'Racing': 23, 'Zom..."
13861,577460,Zoop! - Hunter's Grimm,Warfare Studios,NaN,113,98,"50,000 .. 100,000",228,228,199.0,199.0,0.0,English,"Action, Adventure, Indie, RPG",0,"{'Anime': 40, 'Adventure': 26, 'RPG': 24, 'Ind..."
14002,581470,Mortifero Motus,NaN,NaN,456,251,"200,000 .. 500,000",208,248,99.0,99.0,0.0,English,"Indie, Racing, Sports",0,"{'Indie': 21, 'Racing': 21, 'Sports': 19}"
14161,586090,Snowman,NaN,NaN,171,195,"200,000 .. 500,000",240,293,99.0,99.0,0.0,"English, Russian","Action, Indie, Sports",1,"{'Indie': 27, 'Action': 25, 'Sports': 24, 'Psy..."
14193,586620,OR,Camagames,NaN,52,96,"200,000 .. 500,000",222,227,99.0,99.0,0.0,English,"Casual, Indie",0,"{'Casual': 22, 'Indie': 20}"
14217,587050,Mouse in Lab,NaN,NaN,50,74,"100,000 .. 200,000",239,266,99.0,99.0,0.0,English,"Indie, Strategy",0,"{'Indie': 23, 'Strategy': 20, 'Puzzle': 5}"
14348,590420,Chika Militant Cockroach,NaN,NaN,38,26,"100,000 .. 200,000",238,252,399.0,399.0,0.0,English,"Action, Adventure, Casual, Indie",0,"{'Indie': 31, 'Casual': 31, 'Adventure': 30, '..."
14415,592330,Roomscale Coaster,NaN,NaN,12,4,"0 .. 20,000",277,277,399.0,399.0,0.0,English,"Action, Casual, Sports",0,"{'Action': 21, 'Sports': 21, 'Casual': 20, 'VR..."
14547,596170,Magazine Editor,NaN,NaN,90,132,"200,000 .. 500,000",217,273,99.0,99.0,0.0,"English, Russian","Action, Indie, Simulation",1,"{'Simulation': 26, 'Indie': 25, 'Action': 24}"
14821,603290,GRUZCHIK,NaN,NaN,35,34,"50,000 .. 100,000",269,282,99.0,99.0,0.0,English,"Adventure, Casual, Indie, Strategy",0,"{'Strategy': 29, 'Adventure': 29, 'Indie': 22,..."
14835,603570,Cowboy zombie,NaN,NaN,101,36,"100,000 .. 200,000",231,256,99.0,99.0,0.0,English,"Casual, Indie, Simulation",0,"{'Indie': 23, 'Casual': 23, 'Simulation': 21, ..."
14863,604200,Night of Terror,woolfie_games,NaN,10,3,"0 .. 20,000",215,215,199.0,199.0,0.0,English,"Adventure, Indie, RPG",0,"{'Adventure': 25, 'RPG': 23, 'Indie': 23, 'RPG..."
14877,604810,Yeti Adventure,NaN,NaN,38,48,"100,000 .. 200,000",243,266,99.0,99.0,0.0,English,"Action, Adventure, Casual, Indie",0,"{'Action': 22, 'Indie': 22, 'Casual': 22, 'Adv..."
14900,605520,Running Sausage,NaN,NaN,80,48,"100,000 .. 200,000",235,257,99.0,99.0,0.0,"English, Russian","Action, Indie, Sports",0,"{'Action': 24, 'Indie': 23, 'Sports': 21}"
15267,617240,Cucumber Blues,NaN,NaN,73,109,"50,000 .. 100,000",347,370,99.0,99.0,0.0,"English, Russian","Violent, Action, Adventure",0,"{'Action': 24, 'Adventure': 24, 'Violent': 23}"
15296,618030,Arcade Tale,NaN,NaN,47,86,"100,000 .. 200,000",204,246,99.0,99.0,0.0,English,"Adventure, Indie",0,"{'Indie': 23, 'Adventure': 22}"
15367,619730,Mad Driver,NaN,NaN,46,48,"100,000 .. 200,000",287,294,99.0,99.0,0.0,"English, Russian","Casual, Indie, Racing, Strategy",0,"{'Strategy': 21, 'Indie': 21, 'Casual': 21, 'R..."

In [38]:
print(drop_betas[(drop_betas['publisher'].isnull()) & (drop_betas['developer'].isnull())].shape[0])

drop_betas[(drop_betas['publisher'].isnull()) & (drop_betas['developer'].isnull())].head()

59

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,ccu,tags
1701,218980,Patterns,NaN,NaN,26,130,"0 .. 20,000",0,0,0.0,0.0,0.0,English,"Casual, Simulation, Strategy",0,"{'Casual': 26, 'Simulation': 22, 'Strategy': 2..."
2011,237370,PlayClaw 5 - Game Recording and Streaming,NaN,NaN,273,125,"0 .. 20,000",0,0,2799.0,3999.0,30.0,"English, Russian, French, Hungarian, Polish, P...","Audio Production, Software Training, Utilities...",21,"{'Utilities': 41, 'Video Production': 40, 'Aud..."
2201,247350,Artemis Spaceship Bridge Simulator,NaN,NaN,351,40,"50,000 .. 100,000",0,0,699.0,699.0,0.0,English,"Action, Indie, Simulation",1,"{'Simulation': 54, 'Indie': 37, 'Action': 33, ..."
2231,248730,A Walk in the Dark,NaN,NaN,300,69,"20,000 .. 50,000",0,0,699.0,699.0,0.0,English,"Action, Indie",0,"{'Indie': 42, 'Platformer': 32, 'Action': 30, ..."
2349,252770,Vox,NaN,NaN,93,300,"20,000 .. 50,000",102,108,999.0,999.0,0.0,English,"Action, Adventure, Indie, RPG, Early Access",0,"{'Early Access': 22, 'RPG': 33, 'Adventure': 3..."

In [39]:
drop_dev_pub = drop_betas[(drop_betas['publisher'].notnull()) | (drop_betas['developer'].notnull())].copy()
drop_dev_pub.isnull().sum()

appid                0
name                 0
developer           32
publisher          135
positive             0
negative             0
owners               0
average_forever      0
median_forever       0
price                0
initialprice         0
discount             0
languages            0
genre                0
ccu                  0
tags                 0
dtype: int64

In [40]:
drop_dev_pub.loc[drop_dev_pub['developer'].isnull(), 'developer'] = 'unknown'
drop_dev_pub.loc[drop_dev_pub['publisher'].isnull(), 'publisher'] = 'unknown'
drop_dev_pub.isnull().sum()

appid              0
name               0
developer          0
publisher          0
positive           0
negative           0
owners             0
average_forever    0
median_forever     0
price              0
initialprice       0
discount           0
languages          0
genre              0
ccu                0
tags               0
dtype: int64

In [56]:
drop_ccu = drop_dev_pub.drop('ccu', axis=1)
drop_ccu.head()

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,tags
0,10,Counter-Strike,Valve,Valve,124534,3339,"10,000,000 .. 20,000,000",17612,317,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,"{'Action': 2681, 'FPS': 2048, 'Multiplayer': 1..."
1,20,Team Fortress Classic,Valve,Valve,3318,633,"5,000,000 .. 10,000,000",277,62,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,"{'Action': 208, 'FPS': 188, 'Multiplayer': 172..."
2,30,Day of Defeat,Valve,Valve,3416,398,"5,000,000 .. 10,000,000",187,34,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Spain",Action,"{'FPS': 138, 'World War II': 122, 'Multiplayer..."
3,40,Deathmatch Classic,Valve,Valve,1273,267,"5,000,000 .. 10,000,000",258,184,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,"{'Action': 85, 'FPS': 71, 'Multiplayer': 58, '..."
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,5250,288,"5,000,000 .. 10,000,000",624,415,499.0,499.0,0.0,"English, French, German, Korean",Action,"{'FPS': 235, 'Action': 211, 'Sci-fi': 166, 'Si..."

In [42]:
drop_ccu.shape

(28971, 15)

In [44]:
# handle tags
tags = drop_ccu['tags']

tags_dict = {}

for i, row in tags.iteritems():
    eval_row = literal_eval(row)
    
    if isinstance(eval_row, dict):
        for key in literal_eval(row).keys():
            tags_dict[key] = 1
        
tags_dict

{'Action': 1,
 'FPS': 1,
 'Multiplayer': 1,
 'Shooter': 1,
 'Classic': 1,
 'Team-Based': 1,
 'First-Person': 1,
 'Competitive': 1,
 'Tactical': 1,
 "1990's": 1,
 'e-sports': 1,
 'PvP': 1,
 'Military': 1,
 'Strategy': 1,
 'Score Attack': 1,
 'Survival': 1,
 'Old School': 1,
 'Assassin': 1,
 '1980s': 1,
 'Violent': 1,
 'Class-Based': 1,
 'Co-op': 1,
 'Fast-Paced': 1,
 'Online Co-Op': 1,
 'Retro': 1,
 'Remake': 1,
 'Mod': 1,
 'Funny': 1,
 'Adventure': 1,
 'World War II': 1,
 'War': 1,
 'Historical': 1,
 'Singleplayer': 1,
 'World War I': 1,
 'Arena Shooter': 1,
 'Sci-fi': 1,
 'Aliens': 1,
 'Atmospheric': 1,
 'Story Rich': 1,
 'Silent Protagonist': 1,
 'Great Soundtrack': 1,
 'Puzzle': 1,
 'Gore': 1,
 'Moddable': 1,
 'Masterpiece': 1,
 'Cyberpunk': 1,
 'Space': 1,
 'Conspiracy': 1,
 'Memes': 1,
 'Platformer': 1,
 '3D': 1,
 'Psychological Horror': 1,
 'Linear': 1,
 'Difficult': 1,
 'Open World': 1,
 'Simulation': 1,
 'Dark': 1,
 'Horror': 1,
 'Zombies': 1,
 'Short': 1,
 'Dystopian ': 1,
 'Physics': 1,
 'Sandbox': 1,
 'Realistic': 1,
 'Massively Multiplayer': 1,
 'Comedy': 1,
 'Free to Play': 1,
 'Futuristic': 1,
 'Benchmark': 1,
 'Post-apocalyptic': 1,
 'Episodic': 1,
 'Cinematic': 1,
 'Female Protagonist': 1,
 'Science': 1,
 'Dark Humor': 1,
 'Trading': 1,
 'Cartoony': 1,
 'Robots': 1,
 'Crafting': 1,
 'Cartoon': 1,
 'Replay Value': 1,
 'Survival Horror': 1,
 'Local Co-Op': 1,
 'MOBA': 1,
 'RTS': 1,
 'RPG': 1,
 'Fantasy': 1,
 'Tower Defense': 1,
 'Character Customization': 1,
 'Action RPG': 1,
 'Top-Down': 1,
 'Top-Down Shooter': 1,
 'Third Person': 1,
 'PvE': 1,
 'Third-Person Shooter': 1,
 'Indie': 1,
 'Fighting': 1,
 'Hacking': 1,
 '2D': 1,
 'Real-Time with Pause': 1,
 'Experimental': 1,
 'Addictive': 1,
 'Rogue-like': 1,
 'Perma Death': 1,
 'Wargame': 1,
 'Cold War': 1,
 'Diplomacy': 1,
 'Naval': 1,
 '4X': 1,
 'Turn-Based Strategy': 1,
 'Turn-Based': 1,
 'Dark Fantasy': 1,
 'Gothic': 1,
 'Isometric': 1,
 'Tanks': 1,
 'Underground': 1,
 'Exploration': 1,
 'Dungeon Crawler': 1,
 'Stealth': 1,
 'Magic': 1,
 'Animation & Modeling': 1,
 'Video Production': 1,
 'Software': 1,
 'Movie': 1,
 'Anime': 1,
 'Base-Building': 1,
 'Medieval': 1,
 'Swordplay': 1,
 'Multiple Endings': 1,
 'Hack and Slash': 1,
 'Pixel Graphics': 1,
 '2.5D': 1,
 'Demons': 1,
 'Lovecraftian': 1,
 'Mystery': 1,
 'Stylized': 1,
 'Twin Stick Shooter': 1,
 'Casual': 1,
 'Arcade': 1,
 "Shoot 'Em Up": 1,
 'Vampire': 1,
 'Cult Classic': 1,
 'Supernatural': 1,
 'Western': 1,
 'Bullet Time': 1,
 'America': 1,
 'Management': 1,
 'Building': 1,
 'Economy': 1,
 'Family Friendly': 1,
 'City Builder': 1,
 'Space Sim': 1,
 'Flight': 1,
 'Capitalism': 1,
 'Submarine': 1,
 'Racing': 1,
 'Destruction': 1,
 'Music': 1,
 'Driving': 1,
 'Offroad': 1,
 'Hex Grid': 1,
 'Tactical RPG': 1,
 'Turn-Based Combat': 1,
 'Point & Click': 1,
 'Match 3': 1,
 'Cute': 1,
 'Underwater': 1,
 'Clicker': 1,
 'Colorful': 1,
 'Typing': 1,
 'Education': 1,
 'Hidden Object': 1,
 'Touch-Friendly': 1,
 'Sniper': 1,
 'Comic Book': 1,
 'Villain Protagonist': 1,
 'Parody ': 1,
 'God Game': 1,
 'Nudity': 1,
 '3D Platformer': 1,
 'Psychological': 1,
 'Surreal': 1,
 'Action-Adventure': 1,
 'Grand Strategy': 1,
 'Resource Management': 1,
 'Pirates': 1,
 'Sailing': 1,
 'Choose Your Own Adventure': 1,
 'Rome': 1,
 'Card Game': 1,
 'Loot': 1,
 'Based On A Novel': 1,
 'Inventory Management': 1,
 'Epic': 1,
 'Warhammer 40K': 1,
 'Games Workshop': 1,
 'Real-Time': 1,
 'Real Time Tactics': 1,
 'Crime': 1,
 'Detective': 1,
 "Beat 'em up": 1,
 'Star Wars': 1,
 'Side Scroller': 1,
 'Controller': 1,
 'Local Multiplayer': 1,
 'Beautiful': 1,
 'Emotional': 1,
 'Mechs': 1,
 'Spectacle fighter': 1,
 'Character Action Game': 1,
 'Bullet Hell': 1,
 'Transhumanism': 1,
 'Illuminati': 1,
 'Steampunk': 1,
 'Lara Croft': 1,
 'Modern': 1,
 'Martial Arts': 1,
 'Party-Based RPG': 1,
 'Romance': 1,
 'Choices Matter': 1,
 'Mythology': 1,
 'Level Editor': 1,
 'Time Attack': 1,
 'Trains': 1,
 'Turn-Based Tactics': 1,
 'Political': 1,
 'Alternate History': 1,
 'Unforgiving': 1,
 'Dinosaurs': 1,
 'Parkour': 1,
 '3D Vision': 1,
 'Heist': 1,
 'Split Screen': 1,
 'Psychedelic': 1,
 'MMORPG': 1,
 'Sports': 1,
 'Philisophical': 1,
 'Time Travel': 1,
 'Superhero': 1,
 'Mars': 1,
 'Co-op Campaign': 1,
 'Puzzle-Platformer': 1,
 'Relaxing': 1,
 'On-Rails Shooter': 1,
 'Time Manipulation': 1,
 'Mini Golf': 1,
 'Golf': 1,
 'Mature': 1,
 'Blood': 1,
 'Hunting': 1,
 'Dragons': 1,
 'Satire': 1,
 'Noir': 1,
 'Sequel': 1,
 'Bowling': 1,
 'Pinball': 1,
 'CRPG': 1,
 'Walking Simulator': 1,
 'Rhythm': 1,
 'Music-Based Procedural Generation': 1,
 'Procedural Generation': 1,
 'Ninja': 1,
 'Minigames': 1,
 'Horses': 1,
 'TrackIR': 1,
 'VR': 1,
 'Early Access': 1,
 'Agriculture': 1,
 'FMV': 1,
 'Nonlinear': 1,
 'LEGO': 1,
 'Batman': 1,
 '2D Fighter': 1,
 '4 Player Local': 1,
 'Quick-Time Events': 1,
 'Voice Control': 1,
 'Gun Customization': 1,
 'JRPG': 1,
 'Politics': 1,
 'Fishing': 1,
 'Metroidvania': 1,
 '6DOF': 1,
 'Experience': 1,
 'Board Game': 1,
 'Abstract': 1,
 'Minimalist': 1,
 'Hand-drawn': 1,
 'Interactive Fiction': 1,
 'Gambling': 1,
 'Conversation': 1,
 'Logic': 1,
 'NSFW': 1,
 'Time Management': 1,
 'Mouse only': 1,
 'Sexual Content': 1,
 'Lore-Rich': 1,
 'Strategy RPG': 1,
 'Investigation': 1,
 'Basketball': 1,
 'Trading Card Game': 1,
 'Rogue-lite': 1,
 'Motocross': 1,
 'ATV': 1,
 'Motorbike': 1,
 'Werewolves': 1,
 'Runner': 1,
 'Mining': 1,
 'Dating Sim': 1,
 'Visual Novel': 1,
 'Lemmings': 1,
 'Programming': 1,
 'Narration': 1,
 'GameMaker': 1,
 'Cats': 1,
 'Asynchronous Multiplayer': 1,
 'Chess': 1,
 'Dungeons & Dragons': 1,
 'Dynamic Narration': 1,
 'RPGMaker': 1,
 'Thriller': 1,
 'Grid-Based Movement': 1,
 'Kickstarter': 1,
 'Utilities': 1,
 'Documentary': 1,
 'Audio Production': 1,
 'Sokoban': 1,
 'Drama': 1,
 'Dog': 1,
 'Otome': 1,
 'Soundtrack': 1,
 'Football': 1,
 'Soccer': 1,
 'Voxel': 1,
 'Crowdfunded': 1,
 'Game Development': 1,
 'Design & Illustration': 1,
 'Web Publishing': 1,
 'Photo Editing': 1,
 'Software Training': 1,
 'Intentionally Awkward Controls': 1,
 'Text-Based': 1,
 'Dark Comedy': 1,
 'Souls-like': 1,
 'Artificial Intelligence': 1,
 'Snow': 1,
 'Skiing': 1,
 'Snowboarding': 1,
 'Pool': 1,
 'Cycling': 1,
 'VR Only': 1,
 'Mystery Dungeon': 1,
 'Skateboarding': 1,
 'Skating': 1,
 'Wrestling': 1,
 'Hockey': 1,
 'Steam Machine': 1,
 'Word Game': 1,
 'Battle Royale': 1,
 'Baseball': 1,
 'Tutorial': 1,
 'Spelling': 1,
 'Tennis': 1,
 'Gaming': 1,
 'Bikes': 1,
 'BMX': 1,
 '360 Video': 1,
 'Hardware': 1,
 'Jet': 1,
 'Foreign': 1,
 'Faith': 1,
 'Feature Film': 1}

In [45]:
for k in literal_eval(tags[0]).keys():
    print(k)

Action
FPS
Multiplayer
Shooter
Classic
Team-Based
First-Person
Competitive
Tactical
1990's
e-sports
PvP
Military
Strategy
Score Attack
Survival
Old School
Assassin
1980s
Violent

In [88]:
# for i, row in drop_ccu.iterrows():
#     row_tags = literal_eval(row['tags'])
    
#     if isinstance(row_tags, dict):
#         for key in tags_dict.keys():
#             if key in row_tags:
#                 drop_ccu[key] = row_tags[key]
#             else:
#                 drop_ccu[key] = 0
#     else:
#         for key in tags_dict.keys():
#             drop_ccu[key] = 0
with pd.option_context("display.max_colwidth", 500):
    display(drop_ccu['tags'].head())

0    {'Action': 2681, 'FPS': 2048, 'Multiplayer': 1659, 'Shooter': 1420, 'Classic': 1344, 'Team-Based': 943, 'First-Person': 799, 'Competitive': 790, 'Tactical': 734, "1990's": 564, 'e-sports': 550, 'PvP': 480, 'Military': 367, 'Strategy': 329, 'Score Attack': 200, 'Survival': 192, 'Old School': 164, 'Assassin': 151, '1980s': 144, 'Violent': 40}
1                      {'Action': 208, 'FPS': 188, 'Multiplayer': 172, 'Classic': 152, 'Shooter': 134, 'Class-Based': 124, 'Team-Based': 115, 'First-Person': 109, "1990's": 71, 'Co-op': 62, 'Competitive': 48, 'Old School': 46, 'Fast-Paced': 39, 'Online Co-Op': 28, 'Retro': 27, 'Remake': 27, 'Violent': 26, 'Mod': 24, 'Funny': 20, 'Adventure': 15}
2                                                                                {'FPS': 138, 'World War II': 122, 'Multiplayer': 115, 'Action': 99, 'Shooter': 95, 'War': 80, 'Team-Based': 79, 'Classic': 61, 'Class-Based': 55, 'First-Person': 50, 'Historical': 28, 'Military': 19, 'Singleplayer': 16, 'Tactical': 14, 'Co-op': 12, 'World War I': 5}
3                                                                                                                                                                                                                         {'Action': 85, 'FPS': 71, 'Multiplayer': 58, 'Classic': 50, 'Shooter': 49, 'First-Person': 33, 'Arena Shooter': 22, 'Sci-fi': 16}
4       {'FPS': 235, 'Action': 211, 'Sci-fi': 166, 'Singleplayer': 148, 'Classic': 146, 'Shooter': 144, 'First-Person': 126, 'Aliens': 122, 'Adventure': 87, "1990's": 77, 'Atmospheric': 73, 'Military': 50, 'Story Rich': 40, 'Silent Protagonist': 33, 'Co-op': 27, 'Great Soundtrack': 25, 'Puzzle': 18, 'Gore': 18, 'Moddable': 16, 'Masterpiece': 16}
Name: tags, dtype: object

In [102]:
print(
    list(literal_eval(drop_ccu['tags'][0]).keys())[:5],
    '\n',
    literal_eval(drop_ccu['tags'][0])
)

['Action', 'FPS', 'Multiplayer', 'Shooter', 'Classic']
 {'Action': 2681, 'FPS': 2048, 'Multiplayer': 1659, 'Shooter': 1420, 'Classic': 1344, 'Team-Based': 943, 'First-Person': 799, 'Competitive': 790, 'Tactical': 734, "1990's": 564, 'e-sports': 550, 'PvP': 480, 'Military': 367, 'Strategy': 329, 'Score Attack': 200, 'Survival': 192, 'Old School': 164, 'Assassin': 151, '1980s': 144, 'Violent': 40}

In [125]:
def parse_tags(x):
    x_eval = literal_eval(x)
    
    if isinstance(x_eval, dict):
        return x_eval
    elif isinstance(x_eval, list):
        return {}
    else:
        print(x_eval, x)

tag_data = drop_ccu[['appid', 'genre', 'tags']].copy()
        
tag_data['tags'] = tag_data['tags'].apply(parse_tags)

tag_names = tag_data['tags'].apply(lambda x: x.keys())

cols = set(list(itertools.chain(*tag_names)))

for col in sorted(cols):
    col_name = (col.lower().replace(' ', '_').replace('-', '_').replace("'", ""))
    
    tag_data[col_name] = tag_data['tags'].apply(lambda x: x[col] if col in x.keys() else 0)
    
tag_data = tag_data.drop('tags', axis=1)
    
tag_data.head()

,appid,genre,1980s,1990s,2.5d,2d,2d_fighter,360_video,3d,3d_platformer,3d_vision,4_player_local,4x,6dof,atv,abstract,action,action_rpg,action_adventure,addictive,adventure,agriculture,aliens,alternate_history,america,animation_&_modeling,anime,arcade,arena_shooter,artificial_intelligence,assassin,asynchronous_multiplayer,atmospheric,audio_production,bmx,base_building,baseball,based_on_a_novel,basketball,batman,battle_royale,beat_em_up,beautiful,benchmark,bikes,blood,board_game,bowling,building,bullet_hell,...,text_based,third_person,third_person_shooter,thriller,time_attack,time_management,time_manipulation,time_travel,top_down,top_down_shooter,touch_friendly,tower_defense,trackir,trading,trading_card_game,trains,transhumanism,turn_based,turn_based_combat,turn_based_strategy,turn_based_tactics,tutorial,twin_stick_shooter,typing,underground,underwater,unforgiving,utilities,vr,vr_only,vampire,video_production,villain_protagonist,violent,visual_novel,voice_control,voxel,walking_simulator,war,wargame,warhammer_40k,web_publishing,werewolves,western,word_game,world_war_i,world_war_ii,wrestling,zombies,e_sports
0,10,Action,144,564,0,0,0,0,0,0,0,0,0,0,0,0,2681,0,0,0,0,0,0,0,0,0,0,0,0,0,151,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,550
1,20,Action,0,71,0,0,0,0,0,0,0,0,0,0,0,0,208,0,0,0,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,30,Action,0,0,0,0,0,0,0,0,0,0,0,0,0,0,99,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,80,0,0,0,0,0,0,5,122,0,0,0
3,40,Action,0,0,0,0,0,0,0,0,0,0,0,0,0,0,85,0,0,0,0,0,0,0,0,0,0,0,22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,50,Action,0,77,0,0,0,0,0,0,0,0,0,0,0,0,211,0,0,0,87,0,122,0,0,0,0,0,0,0,0,0,73,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [126]:
tag_data.columns[tag_data.max() == 0]

Index([], dtype='object')

In [127]:
tag_data.iloc[:, 2:].max(axis=1).head()

0    2681
1     208
2     138
3      85
4     235
dtype: int64

In [128]:
tag_data['genre'].value_counts()

Action, Indie                                                                                                                                                                                       1966
Casual, Indie                                                                                                                                                                                       1566
Action, Adventure, Indie                                                                                                                                                                            1309
Adventure, Indie                                                                                                                                                                                    1228
Action, Casual, Indie                                                                                                                                                                               1058
Action                                                                                                                                                                                               909
Adventure, Casual, Indie                                                                                                                                                                             832
Indie                                                                                                                                                                                                804
Casual                                                                                                                                                                                               616
Adventure                                                                                                                                                                                            574
Adventure, Casual                                                                                                                                                                                    539
Strategy                                                                                                                                                                                             503
Action, Adventure, Casual, Indie                                                                                                                                                                     484
Adventure, Indie, RPG                                                                                                                                                                                462
Casual, Indie, Strategy                                                                                                                                                                              458
Action, Adventure                                                                                                                                                                                    399
Casual, Indie, Simulation                                                                                                                                                                            394
Indie, Strategy                                                                                                                                                                                      376
Action, Adventure, Indie, RPG                                                                                                                                                                        364
Simulation                                                                                                                                                                                           344
Action, Indie, Early Access                                                                                                                                                                          297
RPG                                                                                                                                                                                                  286
Indie, Simulation, Strategy                                                                                                                                                                          239
Action, Indie, Strategy                                                                                                                                                                              230
Indie, Simulation                                                                                                                                                                                    226
Indie, RPG                                                                                                                                                                                           224
Action, Indie, RPG                                                                                                                                                                                   212
Casual, Indie, Simulation, Strategy                                                                                                                                                                  188
Simulation, Strategy                                                                                                                                                                                 184
Adventure, Casual, Indie, RPG                                                                                                                                                                        153
                                                                                                                                                                                                    ...
Action, Casual, Free to Play, Simulation                                                                                                                                                               1
Violent, Adventure, Indie, Strategy                                                                                                                                                                    1
Massively Multiplayer, Racing, Strategy                                                                                                                                                                1
Casual, Free to Play, RPG, Strategy                                                                                                                                                                    1
Casual, Free to Play, Indie, Racing, Simulation                                                                                                                                                        1
Sexual Content, Nudity, Gore, Casual, Indie                                                                                                                                                            1
Free to Play, Indie, Racing, Simulation, Sports, Early Access                                                                                                                                          1
Action, Indie, Racing, RPG, Simulation, Strategy                                                                                                                                                       1
Accounting, Utilities                                                                                                                                                                                  1
Casual, Free to Play, Indie, Accounting, Animation & Modeling, Audio Production, Design & Illustration, Education, Photo Editing, Software Training, Utilities, Video Production, Web Publishing       1
Nudity, Violent, RPG                                                                                                                                                                                   1
Action, Adventure, Racing, Simulation, Strategy                                                                                                                                                        1
Action, Strategy, Indie, Sports                                                                                                                                                                        1
Violent, Action, Sports                                                                                                                                                                                1
Action, Casual, Indie, Racing, RPG, Simulation, Strategy, Early Access                                                                                                                                 1
Action, Free to Play, Massively Multiplayer, Strategy, Early Access                                                                                                                                    1
Action, Adventure, Casual, Indie, Massively Multiplayer, Racing, Sports, Early Access                                                                                                                  1
Adventure, Casual, Free to Play, Indie, Massively Multiplayer, Simulation                                                                                                                              1
Violent, Gore, Casual, Indie                                                                                                                                                                           1
Action, Casual, Indie, Massively Multiplayer, Racing                                                                                                                                                   1
Violent, Action, Simulation, Early Access                                                                                                                                                              1
Action, Indie, Racing, Simulation, Strategy                                                                                                                                                            1
Gore, Action, Adventure, Indie, Early Access                                                                                                                                                           1
Casual, Indie, Accounting, Design & Illustration, Software Training, Web Publishing, Documentary, Tutorial                                                                                             1
Sexual Content, Nudity, Violent, Gore, Indie, Simulation                                                                                                                                               1
Indie, Simulation, Web Publishing                                                                                                                                                                      1
Action, Adventure, Indie, Massively Multiplayer, RPG, Strategy, Early Access                                                                                                                           1
Action, Casual, RPG, Strategy                                                                                                                                                                          1
Photo Editing, Utilities                                                                                                                                                                               1
Audio Production, Education, Utilities, Early Access                                                                                                                                                   1
Name: genre, Length: 1616, dtype: int64

In [130]:
tag_data_merge = tag_data.drop('genre', axis=1)
steamspy_data = drop_ccu.merge(tag_data_merge, how='inner', on='appid')

steamspy_data.head()

,appid,name,developer,publisher,positive,negative,owners,average_forever,median_forever,price,initialprice,discount,languages,genre,tags,1980s,1990s,2.5d,2d,2d_fighter,360_video,3d,3d_platformer,3d_vision,4_player_local,4x,6dof,atv,abstract,action,action_rpg,action_adventure,addictive,adventure,agriculture,aliens,alternate_history,america,animation_&_modeling,anime,arcade,arena_shooter,artificial_intelligence,assassin,asynchronous_multiplayer,atmospheric,audio_production,bmx,base_building,baseball,...,text_based,third_person,third_person_shooter,thriller,time_attack,time_management,time_manipulation,time_travel,top_down,top_down_shooter,touch_friendly,tower_defense,trackir,trading,trading_card_game,trains,transhumanism,turn_based,turn_based_combat,turn_based_strategy,turn_based_tactics,tutorial,twin_stick_shooter,typing,underground,underwater,unforgiving,utilities,vr,vr_only,vampire,video_production,villain_protagonist,violent,visual_novel,voice_control,voxel,walking_simulator,war,wargame,warhammer_40k,web_publishing,werewolves,western,word_game,world_war_i,world_war_ii,wrestling,zombies,e_sports
0,10,Counter-Strike,Valve,Valve,124534,3339,"10,000,000 .. 20,000,000",17612,317,999.0,999.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,"{'Action': 2681, 'FPS': 2048, 'Multiplayer': 1...",144,564,0,0,0,0,0,0,0,0,0,0,0,0,2681,0,0,0,0,0,0,0,0,0,0,0,0,0,151,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,550
1,20,Team Fortress Classic,Valve,Valve,3318,633,"5,000,000 .. 10,000,000",277,62,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,"{'Action': 208, 'FPS': 188, 'Multiplayer': 172...",0,71,0,0,0,0,0,0,0,0,0,0,0,0,208,0,0,0,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,30,Day of Defeat,Valve,Valve,3416,398,"5,000,000 .. 10,000,000",187,34,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Spain",Action,"{'FPS': 138, 'World War II': 122, 'Multiplayer...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,99,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,80,0,0,0,0,0,0,5,122,0,0,0
3,40,Deathmatch Classic,Valve,Valve,1273,267,"5,000,000 .. 10,000,000",258,184,499.0,499.0,0.0,"English, French, German, Italian, Spanish - Sp...",Action,"{'Action': 85, 'FPS': 71, 'Multiplayer': 58, '...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,85,0,0,0,0,0,0,0,0,0,0,0,22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,5250,288,"5,000,000 .. 10,000,000",624,415,499.0,499.0,0.0,"English, French, German, Korean",Action,"{'FPS': 235, 'Action': 211, 'Sci-fi': 166, 'Si...",0,77,0,0,0,0,0,0,0,0,0,0,0,0,211,0,0,0,87,0,122,0,0,0,0,0,0,0,0,0,73,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [131]:
steamspy_data.isnull().sum()

appid                  0
name                   0
developer              0
publisher              0
positive               0
negative               0
owners                 0
average_forever        0
median_forever         0
price                  0
initialprice           0
discount               0
languages              0
genre                  0
tags                   0
1980s                  0
1990s                  0
2.5d                   0
2d                     0
2d_fighter             0
360_video              0
3d                     0
3d_platformer          0
3d_vision              0
4_player_local         0
4x                     0
6dof                   0
atv                    0
abstract               0
action                 0
                      ..
turn_based_tactics     0
tutorial               0
twin_stick_shooter     0
typing                 0
underground            0
underwater             0
unforgiving            0
utilities              0
vr                     0
vr_only                0
vampire                0
video_production       0
villain_protagonist    0
violent                0
visual_novel           0
voice_control          0
voxel                  0
walking_simulator      0
war                    0
wargame                0
warhammer_40k          0
web_publishing         0
werewolves             0
western                0
word_game              0
world_war_i            0
world_war_ii           0
wrestling              0
zombies                0
e_sports               0
Length: 386, dtype: int64

In [81]:
def process_tags(df):
    df = df.copy()
    
    def parse_tags(x):
        eval_x = literal_eval(x)
        
        if isinstance(eval_x, dict):
            return ';'.join(list(eval_x.keys())[:5])
        else:
            return np.nan
    
    df['tags'] = df['tags'].apply(parse_tags)
    
    # rows with null tags seem to be superseded by newer release, so remove (e.g. dead island)
    df = df[df['tags'].notnull()]
    
    return df

def process_owners(df):
    df = df.copy()
    
    df['owners'] = df['owners'].apply(lambda x: x.split(' .. ')[0] + '+')
    
    return df

def process(df):
    df = df.copy()
    
    df = df[(df['name'].notnull()) & (df['name'] != 'none')]
    
    df = df[df['developer'].notnull()]
    df = df[df['languages'].notnull()]
    
    df = df.drop(['genre', 'developer', 'publisher', 'score_rank', 'userscore', 'average_2weeks', 'median_2weeks', 'price', 'initialprice', 'discount', 'ccu'], axis=1)
    
    # keep top five tags
    df = process_tags(df)
    
    df = process_owners(df)
    
    # could fill genres like this
    # df.loc[df['genre'].isnull(), 'genre'] = df.loc[df['genre'].isnull(), 'tags'].apply(lambda x: x.split(';')[0])
    
    # still some duplicates with same name but different appid
    
    return df


steamspy_data = process(raw_steamspy_data)
steamspy_data.head()

,appid,name,positive,negative,owners,average_forever,median_forever,languages,tags
0,10,Counter-Strike,124534,3339,"10,000,000+",17612,317,"English, French, German, Italian, Spanish - Sp...",Action;FPS;Multiplayer;Shooter;Classic
1,20,Team Fortress Classic,3318,633,"5,000,000+",277,62,"English, French, German, Italian, Spanish - Sp...",Action;FPS;Multiplayer;Classic;Shooter
2,30,Day of Defeat,3416,398,"5,000,000+",187,34,"English, French, German, Italian, Spanish - Spain",FPS;World War II;Multiplayer;Action;Shooter
3,40,Deathmatch Classic,1273,267,"5,000,000+",258,184,"English, French, German, Italian, Spanish - Sp...",Action;FPS;Multiplayer;Classic;Shooter
4,50,Half-Life: Opposing Force,5250,288,"5,000,000+",624,415,"English, French, German, Korean",FPS;Action;Sci-fi;Singleplayer;Classic

In [82]:
steamspy_data.to_csv('../data/steamspy_clean.csv', index=False)